/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: FuturaDemiC; src: url("fonts/FuturaDemiC.eot"); src: url("fonts/FuturaDemiC.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaDemiC.woff") format("woff"), url("fonts/FuturaDemiC.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: "FuturaDemiC", Arial, sans-serif; font-size: 14px; line-height: 1.4; color: #19223c; }

a { text-decoration: none; }

button, input, textarea { font-family: "FuturaDemiC", Arial, sans-serif; }

button { background: none; }

.l-center { width: 960px; margin: 0 auto; padding: 0 10px; }

.topper { background: #19223c; }

.nav { padding: 13px 0 12px; font-size: 0; text-align: justify; }
.nav ul:after { content: ""; display: inline-block; width: 100%; vertical-align: top; }
.nav li { position: relative; display: inline-block; vertical-align: top; }
.nav a { display: block; text-transform: uppercase; color: white; font-size: 11px; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.nav a:before { content: ""; position: absolute; top: 0; left: 0; right: 0; height: 0; background: white; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.nav a:hover:before { top: -13px; height: 3px; }
.nav a:active:before { background: #00b0dc; height: 0; }
.nav a:active { color: #00b0dc; }
.nav a.nav__home { position: relative; top: 1px; background: url('../img/icons-s1f6d203140.png') 0 -267px no-repeat; width: 12px; height: 11px; }
.nav a.nav__home:after { content: ""; display: block; background: url('../img/icons-s1f6d203140.png') 0 -246px no-repeat; width: 12px; height: 11px; opacity: 0; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; -webkit-transition: opacity 0.2s linear; transition: opacity 0.2s linear; }
.nav a.nav__home:hover:before { top: -14px; }
.nav a.nav__home:active:after { opacity: 1; }

.header { padding-top: 27px; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
.header .header__right { float: right; padding-top: 12px; font-size: 0; }
.header .header__right .btn-border { margin-left: 40px; }
.header .header__phone { display: inline-block; padding-top: 2px; vertical-align: middle; font-size: 24px; color: #19223c; }

.logo { float: left; background: url('../img/icons-s1f6d203140.png') 0 -394px no-repeat; width: 163px; height: 66px; }

.language { display: inline-block; padding-top: 2px; margin-left: 20px; vertical-align: middle; }
.language li { display: inline-block; margin-left: 15px; vertical-align: middle; }
.language li:first-child { margin: 0; }
.language li.is-active a { color: #00b0dc; cursor: default; }
.language li.is-active a:before { display: none; }
.language a { position: relative; text-transform: uppercase; font-size: 12px; color: #19223c; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.language a:before { content: ""; position: absolute; top: 0; left: 0; right: 0; height: 0; background: #19223c; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.language a:hover:before { top: -10px; height: 3px; }
.language a:active { color: #00b0dc; }
.language a:active:before { height: 0; background: #00b0dc; }

.footer { padding: 30px 40px; background: #19223c; color: white; }
.footer .footer__layout { *zoom: 1; }
.footer .footer__layout:after { content: " "; display: table; clear: both; }
.footer .footer__left { float: left; width: 705px; }
.footer .footer__right { float: right; width: 210px; }
.footer .footer__about { float: left; }
.footer .footer__about .text { float: left; width: 270px; margin-top: -3px; font-size: 12px; }
.footer .footer__logo { float: left; margin-right: 25px; background: url('../img/icons-s1f6d203140.png') 0 -353px no-repeat; width: 76px; height: 31px; }
.footer .footer__subscribe { float: right; }
.footer .footer__subscribe a { color: #00b0dc; text-transform: uppercase; font-size: 12px; }
.footer .footer__info { margin-bottom: 12px; *zoom: 1; }
.footer .footer__info:after { content: " "; display: table; clear: both; }
.footer .footer__phone { float: left; line-height: 1; font-size: 16px; }
.footer .footer__order { margin-bottom: 30px; }
.footer .footer__order .btn-border { width: 100%; }
.footer .nav { padding: 0; margin-bottom: 25px; }
.footer .language { float: right; padding: 0; }
.footer .language a { color: white; }
.footer .language a:before { background: white; }
.footer .text { color: white; }

.created { text-align: right; }
.created .created__title, .created .created__logo { display: inline-block; vertical-align: middle; }
.created .created__title { font-family: "Roboto", Arial, sans-serif; font-size: 12px; }
.created .created__logo { margin-left: 20px; background: url('../img/icons-s1f6d203140.png') 0 -522px no-repeat; width: 70px; height: 15px; }
.created .created__logo:before { content: ""; display: block; background: url('../img/icons-s1f6d203140.png') 0 -497px no-repeat; width: 70px; height: 15px; opacity: 0; -ms-transform: scale(1.4); -webkit-transform: scale(1.4); transform: scale(1.4); -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.created .created__logo:hover:before { opacity: 1; -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }

.btn-border { position: relative; display: inline-block; padding: 9px 20px 7px; border: 2px solid #19223c; font-size: 12px; text-transform: uppercase; color: #19223c; vertical-align: middle; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; overflow: visible; z-index: 2; }
.btn-border:after { content: ""; position: absolute; top: 100%; bottom: 0; left: 0; right: 0; background: #19223c; -moz-transition: top 0.2s linear; -o-transition: top 0.2s linear; -webkit-transition: top 0.2s linear; transition: top 0.2s linear; z-index: -1; }
.btn-border:hover { color: white; }
.btn-border:hover:after { top: 0; }
.btn-border.btn-border_white { border-color: white; color: white; }
.btn-border.btn-border_white:after { background: white; }
.btn-border.btn-border_white:hover { color: #19223c; }

.link { position: relative; }
.link:before { content: ""; position: absolute; top: 0; left: 0; right: 0; height: 0; background: #00b0dc; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.link:hover:before { top: -10px; height: 3px; }
.link:active:before { height: 0; }

.text { font-family: "Roboto", Arial, sans-serif; font-size: 14px; color: #666666; }

.input { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 16px; border: 2px solid #cccccc; height: 34px; text-transform: uppercase; text-align: center; }
.input:-ms-input-placeholder { font-size: 12px; color: #999999; text-transform: uppercase; }
.input:-moz-placeholder { font-size: 12px; color: #999999; text-transform: uppercase; }
.input::-moz-placeholder { font-size: 12px; color: #999999; text-transform: uppercase; }
.input::-webkit-input-placeholder { font-size: 12px; color: #999999; text-transform: uppercase; }
.input::placeholder { font-size: 12px; color: #999999; text-transform: uppercase; }

.checkbox { position: relative; display: block; margin-bottom: 21px; padding-left: 25px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox input { opacity: 0; }
.checkbox input + i { position: absolute; top: 0; left: 0; width: 15px; height: 15px; border: 2px solid #cccccc; }
.checkbox input:checked + i:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s1f6d203140.png') 0 -100px no-repeat; width: 15px; height: 14px; }
.checkbox span { font-size: 12px; text-transform: uppercase; color: #999999; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l__column-1 { float: left; width: 600px; }
.l .l__column-2 { float: right; width: 320px; }

.mainer { height: 508px; margin-bottom: 35px; background-image: url(../img/main-bg.jpg); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; }
.mainer .header { margin-bottom: 75px; }
.mainer .mainer__title { margin-bottom: 45px; padding: 25px 0 30px; background: #00b0dc; background: rgba(0, 176, 220, 0.8); text-align: center; color: white; text-transform: uppercase; line-height: 1.2; font-size: 18px; }
.mainer .mainer__title-big { position: relative; padding: 0 0 20px; font-size: 72px; }
.mainer .mainer__title-big:after { content: ""; position: absolute; bottom: 20px; left: 50%; width: 64px; height: 2px; margin-left: -32px; background: white; }
.mainer .mainer__logos { font-size: 0; text-align: center; }
.mainer .mainer__logos li { display: inline-block; vertical-align: middle; margin-left: 20px; }
.mainer .mainer__logos li:first-child { margin: 0; }

.direction { text-align: center; }
.direction .direction__title { margin-bottom: 20px; text-transform: uppercase; line-height: 1.2; }
.direction .direction__title-small { font-size: 18px; }
.direction .direction__title-big { font-size: 72px; }
.direction .direction__list { font-size: 0; }
.direction .direction__item { display: inline-block; width: 33%; padding: 0 20px; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.direction .direction__item-title { position: relative; min-height: 34px; margin-bottom: 35px; padding-bottom: 30px; border-bottom: 2px solid #eaebeb; text-transform: uppercase; font-size: 14px; line-height: 1.2; }
.direction .direction__item-title:after { content: ""; position: absolute; bottom: -16px; left: 50%; margin-left: -8px; width: 16px; height: 16px; background: #00b0dc; }

.icf { padding: 0 0 50px; background: #065071; text-align: center; color: white; }
.icf .icf__arr { position: relative; height: 120px; margin-bottom: 40px; overflow: hidden; }
.icf .icf__arr-in { position: absolute; bottom: 0; left: 50%; margin-left: -960px; width: 0px; height: 0px; border-style: solid; border-width: 120px 960px 0 960px; border-color: white transparent transparent transparent; z-index: 2; }
.icf .icf__logo { position: absolute; top: 30px; left: 50%; margin-left: -28px; background: url('../img/icons-s1f6d203140.png') 0 -288px no-repeat; width: 56px; height: 55px; z-index: 4; }
.icf .icf__title { font-size: 72px; text-transform: uppercase; line-height: 1.2; }
.icf .l-center { position: relative; z-index: 4; }
.icf .l-center > .text { margin-bottom: 35px; }
.icf .icf__list { *zoom: 1; }
.icf .icf__list:after { content: " "; display: table; clear: both; }
.icf .icf__item { float: left; width: 240px; margin-left: 36px; border: 2px solid transparent; padding: 20px 20px 25px; }
.icf .icf__item:first-child { margin-left: 18px; }
.icf .icf__item .text + .icf__counter { margin-top: 40px; }
.icf .icf__item .text { height: 38px; }
.icf .icf__item_border { border-color: white; }
.icf .icf__counter { position: relative; padding-bottom: 30px; font-size: 36px; }
.icf .icf__counter:after { content: ""; position: absolute; bottom: 17px; left: 50%; width: 100px; height: 2px; margin-left: -50px; background: #00b0dc; }
.icf .text { color: white; }

.actual { text-align: center; }
.actual .actual__title { padding: 40px 0 20px; text-transform: uppercase; line-height: 1.2; }
.actual .actual__title-small { font-size: 18px; }
.actual .actual__title-big { font-size: 72px; }
.actual .text { padding: 20px; border: 2px solid #00b0dc; }

.m-news { padding: 35px 0; }
.m-news.m-news_company { background: #f6f6f6; }
.m-news.m-news_company .m-news__date { color: #00b0dc; }
.m-news.m-news_company .m-news__date:after { background: #19223c; }
.m-news.m-news_company .m-news__item:hover .m-news__date { color: #19223c; }
.m-news.m-news_company .m-news__item:hover .m-news__date:after { background: #00b0dc; }
.m-news .m-news__head { margin-bottom: 20px; *zoom: 1; }
.m-news .m-news__head:after { content: " "; display: table; clear: both; }
.m-news .m-news__title { float: left; text-transform: uppercase; color: #00b0dc; font-size: 16px; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.m-news .m-news__all { float: right; }
.m-news .m-news__all a { text-transform: uppercase; color: #00b0dc; font-size: 12px; }
.m-news .m-news__list { *zoom: 1; }
.m-news .m-news__list:after { content: " "; display: table; clear: both; }
.m-news .m-news__item { float: left; width: 460px; color: #19223c; }
.m-news .m-news__item:first-child { width: 480px; margin-right: 20px; }
.m-news .m-news__item:hover .m-news__title { color: #00b0dc; }
.m-news .m-news__item:hover .m-news__date { color: #00b0dc; }
.m-news .m-news__item:hover .m-news__date:after { background: #19223c; }
.m-news .m-news__date { position: relative; float: left; width: 115px; margin-right: 20px; line-height: 1; color: #19223c; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.m-news .m-news__date:after { content: ""; position: absolute; top: 50px; right: -10px; width: 136px; height: 2px; background: #00b0dc; -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; -webkit-transition: background 0.2s linear; transition: background 0.2s linear; }
.m-news .m-news__date li { text-align: right; font-size: 48px; }
.m-news .m-news__date li:first-child { text-align: left; }
.m-news .m-news__data { display: table; }
.m-news .m-news__data .m-news__title { margin-bottom: 10px; color: #19223c; }

.m-info { padding: 25px 0 60px; *zoom: 1; }
.m-info:after { content: " "; display: table; clear: both; }

.m-expertise { float: left; width: 480px; margin-right: 20px; }
.m-expertise .m-expertise__title { margin-bottom: 15px; text-transform: uppercase; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.m-expertise .m-expertise__title a { color: #00b0dc; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.m-expertise .m-expertise__title a:hover { color: #19223c; }
.m-expertise .m-expertise__in { *zoom: 1; color: #19223c; }
.m-expertise .m-expertise__in:after { content: " "; display: table; clear: both; }
.m-expertise .m-expertise__in:hover .m-expertise__pic:after { border-color: #00b0dc; }
.m-expertise .m-expertise__in:hover .m-expertise__title { color: #00b0dc; }
.m-expertise .m-expertise__pic { position: relative; float: left; margin-right: 25px; font-size: 0; }
.m-expertise .m-expertise__pic:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 2px solid transparent; -moz-transition: border-color 0.2s linear; -o-transition: border-color 0.2s linear; -webkit-transition: border-color 0.2s linear; transition: border-color 0.2s linear; }
.m-expertise .m-expertise__data { display: table; }
.m-expertise .m-expertise__date { margin-bottom: 10px; font-family: "Roboto", Arial, sans-serif; }

.m-event { float: left; width: 460px; }
.m-event .m-event__title { margin-bottom: 15px; text-transform: uppercase; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.m-event .m-event__title a { color: #19223c; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.m-event .m-event__title a:hover { color: #00b0dc; }
.m-event > .m-event__title { color: #00b0dc; }
.m-event .m-event__in { *zoom: 1; color: #19223c; }
.m-event .m-event__in:after { content: " "; display: table; clear: both; }
.m-event .m-event__in:hover .m-event__pic:after { border-color: #00b0dc; }
.m-event .m-event__in:hover .m-event__title { color: #00b0dc; }
.m-event .m-event__in:hover .m-event__time { background: #19223c; }
.m-event .m-event__pic { position: relative; float: left; margin-right: 25px; font-size: 0; }
.m-event .m-event__pic:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 2px solid transparent; -moz-transition: border-color 0.2s linear; -o-transition: border-color 0.2s linear; -webkit-transition: border-color 0.2s linear; transition: border-color 0.2s linear; }
.m-event .m-event__data { display: table; }
.m-event .m-event__date { font-family: "Roboto", Arial, sans-serif; font-size: 12px; }
.m-event .m-event__text { margin-bottom: 10px; font-family: "Roboto", Arial, sans-serif; line-height: 1.2; font-size: 12px; color: #666666; }
.m-event .m-event__details { position: relative; margin-bottom: 20px; z-index: 2; }
.m-event .m-event__details .m-event__time, .m-event .m-event__details .m-event__title { display: inline-block; vertical-align: middle; }
.m-event .m-event__details .m-event__title { width: 240px; margin: 0; }
.m-event .m-event__time { width: 68px; height: 68px; margin-right: 15px; margin-left: -59px; background: #00b0dc; border-radius: 50%; line-height: 68px; text-align: center; color: white; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; -webkit-transition: background 0.2s linear; transition: background 0.2s linear; }

.strengths { padding: 35px 0 60px; background: #065071; color: white; text-align: center; }
.strengths .strengths__title-big { font-size: 72px; line-height: 1.2; text-transform: uppercase; }
.strengths .strengths__list { margin-bottom: 40px; *zoom: 1; }
.strengths .strengths__list:after { content: " "; display: table; clear: both; }
.strengths .strengths__item { float: left; width: 276px; border: 2px solid transparent; padding: 20px 20px 25px; text-align: left; }
.strengths .strengths__item .text + .strengths__head { margin-top: 55px; }
.strengths .strengths__item_border { border-color: white; }
.strengths .strengths__head { position: relative; padding-bottom: 20px; margin-bottom: 20px; overflow: hidden; line-height: 1.2; }
.strengths .strengths__head:after { content: ""; position: absolute; bottom: 0; left: 0; width: 100px; height: 2px; background: #00b0dc; }
.strengths .strengths__counter { float: left; width: 50px; font-size: 36px; }
.strengths .strengths__title { display: table; font-size: 18px; text-transform: uppercase; }
.strengths .strengths__title-small, .strengths .strengths__title-middle { position: relative; text-transform: uppercase; line-height: 1; }
.strengths .strengths__title-small:before, .strengths .strengths__title-middle:before { content: ""; position: absolute; left: 50%; width: 100px; height: 2px; margin-left: -50px; background: white; }
.strengths .strengths__title-small { padding-top: 40px; margin-bottom: 10px; font-size: 18px; }
.strengths .strengths__title-small:before { top: 0; }
.strengths .strengths__title-middle { margin-bottom: 25px; padding-bottom: 30px; font-size: 48px; }
.strengths .strengths__title-middle:before { bottom: 0; }
.strengths .strengths__title-middle + .text { padding: 0 40px; }
.strengths .text { color: white; }

.say-about { position: relative; margin: 65px 0 75px; padding: 35px 20px 20px; border: 2px solid #19223c; }
.say-about .say-about__slider { overflow: hidden; }
.say-about .say-about__item { width: 100%; overflow: hidden; }
.say-about .say-about__logo { float: left; margin-right: 20px; }
.say-about .say-about__text { overflow: hidden; }
.say-about .say-about__text .text { margin-bottom: 10px; color: #19223c; }
.say-about .say-about__author { font-size: 16px; text-transform: uppercase; }
.say-about .say-about__title { position: absolute; top: -18px; left: 0; right: 0; text-align: center; }
.say-about .say-about__title span { display: inline-block; padding: 0 25px; background: white; text-transform: uppercase; vertical-align: top; font-size: 30px; }
.say-about .say-about__prev, .say-about .say-about__next { position: absolute; top: 65px; padding: 6px 9px; border: 2px solid #19223c; font-size: 0; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; -webkit-transition: background 0.2s linear; transition: background 0.2s linear; }
.say-about .say-about__prev i, .say-about .say-about__next i { display: block; }
.say-about .say-about__prev:hover, .say-about .say-about__next:hover { background: #19223c; }
.say-about .say-about__prev { left: -60px; }
.say-about .say-about__prev i { background: url('../img/icons-s1f6d203140.png') 0 -25px no-repeat; width: 9px; height: 15px; }
.say-about .say-about__prev:hover i { background: url('../img/icons-s1f6d203140.png') 0 0 no-repeat; width: 9px; height: 15px; }
.say-about .say-about__next { right: -60px; }
.say-about .say-about__next i { background: url('../img/icons-s1f6d203140.png') 0 -75px no-repeat; width: 9px; height: 15px; }
.say-about .say-about__next:hover i { background: url('../img/icons-s1f6d203140.png') 0 -50px no-repeat; width: 9px; height: 15px; }

.request { position: relative; padding: 25px 0 40px; margin-bottom: 75px; border: 2px solid #00b0dc; text-align: center; }
.request .request__title { position: absolute; top: -18px; left: 0; right: 0; text-align: center; }
.request .request__title span { display: inline-block; padding: 0 25px; background: white; text-transform: uppercase; vertical-align: top; font-size: 30px; color: #00b0dc; }
.request .request__info { font-size: 0; }
.request .request__phone, .request .request__send, .request .request__mail { display: inline-block; width: 285px; margin: 0 15px; vertical-align: middle; font-size: 18px; text-transform: uppercase; }
.request .request__phone span, .request .request__send span, .request .request__mail span { display: block; }
.request .request__mail a { color: #19223c; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.request .request__mail a:hover { color: #00b0dc; }
.request .text { margin-bottom: 30px; color: #19223c; }

.button { display: block; width: 100%; padding: 23px 0 19px; background: #00b0dc; font-size: 18px; text-transform: uppercase; color: white; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; -webkit-transition: background 0.2s linear; transition: background 0.2s linear; }
.button:hover { background: #19223c; }

.breadcrumbs { padding: 23px 0 10px; font-size: 0; }
.breadcrumbs li { display: inline; font-size: 10px; text-transform: uppercase; }
.breadcrumbs a, .breadcrumbs span { color: #00b0dc; }
.breadcrumbs span { padding: 0 3px; }

.big-title { margin-bottom: 40px; padding: 35px 0 25px; background: #00b0dc; font-size: 36px; text-transform: uppercase; text-align: center; color: white; }

.rss { width: 800px; margin: 0 auto; }

.rss__topper { margin-bottom: 40px; text-align: center; line-height: 1.6; font-family: "Roboto", Arial, sans-serif; font-size: 14px; color: #19223c; }

.rss__form { width: 359px; margin: 0 auto 84px; }

.contacts { position: relative; margin-top: -40px; height: 560px; }

.contacts__popup { position: absolute; top: 38px; left: 50%; margin-left: -479px; width: 320px; padding: 30px; background: #f9f9f9; z-index: 2; }

.contacts__row { margin-top: 20px; font-size: 12px; color: #19223c; text-transform: uppercase; line-height: 1.5; }
.contacts__row:first-child { margin-top: 0; }
.contacts__row span { color: #33c0e3; }
.contacts__row a { font-size: 12px; color: #19223c; text-transform: uppercase; text-decoration: none; }

.map { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; }

.article { position: relative; padding-top: 35px; margin-bottom: 75px; }
.article:before { content: ""; position: absolute; top: 35px; left: -63px; width: 136px; height: 2px; background: #00b0dc; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.article.article_news:before { display: none; }
.article p { font-size: 14px; font-family: "Roboto", Arial, sans-serif; color: #666666; margin-bottom: 25px; }
.article q { position: relative; display: block; margin-bottom: 20px; padding-left: 87px; font-size: 18px; text-transform: uppercase; color: #19223c; }
.article q:before { content: ""; position: absolute; top: 0; left: 40px; background: url('../img/icons-s1f6d203140.png') 0 -470px no-repeat; width: 25px; height: 17px; }
.article ul { padding: 0 14px; }
.article ul li { position: relative; padding-left: 28px; margin-bottom: 25px; font-size: 14px; font-family: "Roboto", Arial, sans-serif; color: #666666; }
.article ul li:before { content: ""; position: absolute; top: 10px; left: 0; width: 5px; height: 5px; border-radius: 50%; background: #33c0e3; }

.article__title { margin-bottom: 25px; padding-left: 40px; font-size: 18px; color: #19223c; text-transform: uppercase; }

.article__topper { padding-bottom: 25px; border-bottom: 2px solid #eaebeb; margin-bottom: 30px; }

.menu { background: #f7f7f7; padding: 30px; }

.menu__item { margin-top: 20px; }
.menu__item:first-child { margin-top: 0; }
.menu__item a { font-size: 12px; color: #19223c; text-transform: uppercase; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.menu__item a:hover { color: #33c0e3; }
