/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: FuturaDemiC; src: url("fonts/FuturaDemiC.eot"); src: url("fonts/FuturaDemiC.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaDemiC.woff") format("woff"), url("fonts/FuturaDemiC.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.toshow { opacity: 0; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; top: 30px; position: relative; -moz-transition-delay: 0.3s; -o-transition-delay: 0.3s; -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }
.toshow.is-shown { opacity: 1; top: 0; }

body { font-family: "FuturaDemiC", Arial, sans-serif; font-size: 14px; line-height: 1.4; color: #19223c; }

a { text-decoration: none; }

button, input, textarea { font-family: "FuturaDemiC", Arial, sans-serif; }

button { background: none; }

.l-center { width: 960px; margin: 0 auto; padding: 0 10px; }

.topper { background: #19223c; }

.nav { padding: 13px 0 12px; font-size: 0; text-align: justify; }
.nav ul:after { content: ""; display: inline-block; width: 100%; vertical-align: top; }
.nav li { position: relative; display: inline-block; vertical-align: top; }
.nav a { display: block; text-transform: uppercase; color: white; font-size: 11px; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.nav a:before { content: ""; position: absolute; top: 0; left: 0; right: 0; height: 0; background: white; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.nav a:hover:before { top: -13px; height: 3px; }
.nav a:active:before { background: #00b0dc; height: 0; }
.nav a:active { color: #00b0dc; }
.nav a.nav__home { position: relative; top: 1px; background: url('../img/icons-s24cdcc4562.png') 0 -267px no-repeat; width: 12px; height: 11px; }
.nav a.nav__home:after { content: ""; display: block; background: url('../img/icons-s24cdcc4562.png') 0 -246px no-repeat; width: 12px; height: 11px; opacity: 0; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; -webkit-transition: opacity 0.2s linear; transition: opacity 0.2s linear; }
.nav a.nav__home:hover:before { top: -14px; }
.nav a.nav__home:active:after { opacity: 1; }
.nav a.is-active { color: #00b0dc; }
.nav a.is-active:hover:before { background: #00b0dc; }
.nav a.is-active.nav__home { background: url('../img/icons-s24cdcc4562.png') 0 -246px no-repeat; width: 12px; height: 11px; }

.header { padding-top: 27px; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
.header .header__right { float: right; padding-top: 12px; font-size: 0; -moz-transition-delay: 0.6s !important; -o-transition-delay: 0.6s !important; -webkit-transition-delay: 0.6s !important; transition-delay: 0.6s !important; position: relative; right: -50px; top: 0; }
.header .header__right.is-shown { right: 0; }
.header .header__right .btn-border { margin-left: 40px; }
.header .header__phone { display: inline-block; padding-top: 2px; vertical-align: middle; font-size: 24px; color: #19223c; }

.logo { float: left; background: url('../img/icons-s24cdcc4562.png') 0 -394px no-repeat; width: 163px; height: 66px; position: relative; left: -20px; -moz-transition-delay: 0.3s !important; -o-transition-delay: 0.3s !important; -webkit-transition-delay: 0.3s !important; transition-delay: 0.3s !important; top: 0; }
.logo.is-shown { left: 0; }

.language { display: inline-block; padding-top: 2px; margin-left: 20px; vertical-align: middle; }
.language li { display: inline-block; margin-left: 15px; vertical-align: middle; }
.language li:first-child { margin: 0; }
.language li.is-active a { color: #00b0dc; cursor: default; }
.language li.is-active a:before { display: none; }
.language a { position: relative; text-transform: uppercase; font-size: 12px; color: #19223c; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.language a:before { content: ""; position: absolute; top: 0; left: 0; right: 0; height: 0; background: #19223c; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.language a:hover:before { top: -10px; height: 3px; }
.language a:active { color: #00b0dc; }
.language a:active:before { height: 0; background: #00b0dc; }

.footer { padding: 30px 40px; background: #19223c; color: white; }
.footer .footer__layout { *zoom: 1; }
.footer .footer__layout:after { content: " "; display: table; clear: both; }
.footer .footer__left { float: left; width: 705px; }
.footer .footer__right { float: right; width: 210px; }
.footer .footer__about { float: left; }
.footer .footer__about .text { float: left; width: 270px; margin-top: -3px; font-size: 12px; }
.footer .footer__logo { float: left; margin-right: 25px; background: url('../img/icons-s24cdcc4562.png') 0 -353px no-repeat; width: 76px; height: 31px; }
.footer .footer__subscribe { float: right; }
.footer .footer__subscribe a { color: #00b0dc; text-transform: uppercase; font-size: 12px; }
.footer .footer__info { margin-bottom: 12px; *zoom: 1; }
.footer .footer__info:after { content: " "; display: table; clear: both; }
.footer .footer__phone { float: left; line-height: 1; font-size: 16px; }
.footer .footer__order { margin-bottom: 30px; }
.footer .footer__order .btn-border { width: 100%; }
.footer .nav { padding: 0; margin-bottom: 25px; }
.footer .language { float: right; padding: 0; }
.footer .language a { color: white; }
.footer .language a:before { background: white; }
.footer .text { color: white; }

.created { text-align: right; }
.created .created__title, .created .created__logo { display: inline-block; vertical-align: middle; }
.created .created__title { font-family: "Roboto", Arial, sans-serif; font-size: 12px; }
.created .created__logo { margin-left: 20px; background: url('../img/icons-s24cdcc4562.png') 0 -816px no-repeat; width: 70px; height: 15px; }
.created .created__logo:before { content: ""; display: block; background: url('../img/icons-s24cdcc4562.png') 0 -791px no-repeat; width: 70px; height: 15px; opacity: 0; -ms-transform: scale(1.4); -webkit-transform: scale(1.4); transform: scale(1.4); -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.created .created__logo:hover:before { opacity: 1; -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }

.btn-border { position: relative; display: inline-block; padding: 9px 20px 7px; border: 2px solid #19223c; font-size: 12px; text-transform: uppercase; color: #19223c; vertical-align: middle; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; overflow: visible; z-index: 2; }
.btn-border:after { content: ""; position: absolute; top: 100%; bottom: 0; left: 0; right: 0; background: #19223c; -moz-transition: top 0.2s linear; -o-transition: top 0.2s linear; -webkit-transition: top 0.2s linear; transition: top 0.2s linear; z-index: -1; }
.btn-border:hover { color: white; }
.btn-border:hover:after { top: 0; }
.btn-border.btn-border_dark { color: #333333; }
.btn-border.btn-border_dark:hover { color: white; }
.btn-border.btn-border_white { border-color: white; color: white; }
.btn-border.btn-border_white:after { background: white; }
.btn-border.btn-border_white:hover { color: #19223c; }
.btn-border.btn-border_light { color: #00b0dc; border: 2px solid #00b0dc; }
.btn-border.btn-border_light:after { background: #00b0dc; }
.btn-border.btn-border_light:hover { color: white; }

.link { position: relative; text-transform: uppercase; color: #00b0dc; font-size: 12px; }
.link:before { content: ""; position: absolute; top: 0; left: 0; right: 0; height: 0; background: #00b0dc; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.link:hover:before { top: -10px; height: 3px; }
.link:active:before { height: 0; }

.text { font-family: "Roboto", Arial, sans-serif; font-size: 14px; color: #666666; }

.input { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 16px; border: 2px solid #cccccc; height: 34px; text-transform: uppercase; text-align: center; }
.input:-ms-input-placeholder { font-size: 12px; color: #999999; text-transform: uppercase; }
.input:-moz-placeholder { font-size: 12px; color: #999999; text-transform: uppercase; }
.input::-moz-placeholder { font-size: 12px; color: #999999; text-transform: uppercase; }
.input::-webkit-input-placeholder { font-size: 12px; color: #999999; text-transform: uppercase; }
.input::placeholder { font-size: 12px; color: #999999; text-transform: uppercase; }
.input.is-error { border-color: #dc0101; }
.input.is-error:-ms-input-placeholder { color: #dc0101; }
.input.is-error:-moz-placeholder { color: #dc0101; }
.input.is-error::-moz-placeholder { color: #dc0101; }
.input.is-error::-webkit-input-placeholder { color: #dc0101; }
.input.is-error::placeholder { color: #dc0101; }

.textarea { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 16px; border: 2px solid #cccccc; height: 82px; resize: none; padding: 5px; text-align: center; font-size: 14px; text-transform: uppercase; }
.textarea:-ms-input-placeholder { text-align: center; font-size: 12px; color: #999999; text-transform: uppercase; }
.textarea:-moz-placeholder { text-align: center; font-size: 12px; color: #999999; text-transform: uppercase; }
.textarea::-moz-placeholder { text-align: center; font-size: 12px; color: #999999; text-transform: uppercase; }
.textarea::-webkit-input-placeholder { text-align: center; font-size: 12px; color: #999999; text-transform: uppercase; }
.textarea::placeholder { text-align: center; font-size: 12px; color: #999999; text-transform: uppercase; }

.checkbox { position: relative; display: block; margin-bottom: 21px; padding-left: 25px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox input { opacity: 0; }
.checkbox input + i { position: absolute; top: 0; left: 0; width: 15px; height: 15px; border: 2px solid #cccccc; }
.checkbox input:checked + i:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s24cdcc4562.png') 0 -100px no-repeat; width: 15px; height: 14px; }
.checkbox span { font-size: 12px; text-transform: uppercase; color: #999999; }

.pag { margin-bottom: 60px; }

.pag__topper { *zoom: 1; padding-bottom: 12px; margin-bottom: 20px; border-bottom: 2px solid #eaebeb; position: relative; }
.pag__topper:after { content: " "; display: table; clear: both; }

.pag__prev, .pag__next, .pag__center { float: left; font-size: 10px; color: #999999; text-transform: uppercase; }

.pag__center { width: 300px; position: absolute; left: 50%; margin-left: -150px; text-align: center; color: #1db0da; }

.pag__next { float: right; }

.pag__links { *zoom: 1; }
.pag__links:after { content: " "; display: table; clear: both; }

.pag__before { position: relative; float: left; width: 9px; height: 15px; margin-right: 19px; padding: 6px 9px; border: 2px solid #19223c; -moz-transition: background 200ms linear; -o-transition: background 200ms linear; -webkit-transition: background 200ms linear; transition: background 200ms linear; }
.pag__before:before { content: ""; position: absolute; top: 6px; left: 8px; background: url('../img/icons-s24cdcc4562.png') 0 -25px no-repeat; width: 9px; height: 15px; }
.pag__before:hover { background: #19223c; }
.pag__before:hover:before { background: url('../img/icons-s24cdcc4562.png') 0 0 no-repeat; width: 9px; height: 15px; }

.pag__article-prev, .pag__article-next { float: left; width: 190px; font-size: 12px; text-transform: uppercase; color: #19223c; -moz-transition: color 200ms linear; -o-transition: color 200ms linear; -webkit-transition: color 200ms linear; transition: color 200ms linear; }
.pag__article-prev:hover, .pag__article-next:hover { color: #00b0dc; }

.pag__article-next { float: right; text-align: right; }

.pag__after { position: relative; float: right; width: 9px; height: 15px; margin-left: 19px; padding: 6px 9px; border: 2px solid #19223c; -moz-transition: background 200ms linear; -o-transition: background 200ms linear; -webkit-transition: background 200ms linear; transition: background 200ms linear; }
.pag__after:before { content: ""; position: absolute; top: 6px; left: 9px; background: url('../img/icons-s24cdcc4562.png') 0 -75px no-repeat; width: 9px; height: 15px; }
.pag__after:hover { background: #19223c; }
.pag__after:hover:before { background: url('../img/icons-s24cdcc4562.png') 0 -50px no-repeat; width: 9px; height: 15px; }

.pager { overflow: hidden; text-align: center; }
.pager ul { display: inline-block; }

.pager__list { font-size: 0; }

.pager__item { display: inline-block; vertical-align: middle; }
.pager__item a { display: inline-block; padding: 3px; margin: 0 8px; font-size: 16px; color: #19223c; -moz-transition: color 200ms linear; -o-transition: color 200ms linear; -webkit-transition: color 200ms linear; transition: color 200ms linear; }
.pager__item a:hover { color: #00b0dc; }
.pager__item a.is-active { color: #00b0dc; }

.subscribe { margin-bottom: 35px; background: #f8f8f8; padding: 25px; }
.subscribe .title { margin-bottom: 13px; text-align: center; }
.subscribe .subscribe__more { display: block; text-align: center; margin-top: 10px; margin-bottom: -10px; }
.subscribe .subscribe__more a { text-decoration: none; color: #3fc0e1; text-transform: uppercase; font-size: 11px; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.subscribe .subscribe__more a:hover { color: #19223c; }

.btn { display: block; width: 100%; height: 39px; line-height: 39px; background: #19223c; text-align: center; font-size: 12px; color: white; text-transform: uppercase; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.btn:hover { background: #00b0dc; }
.btn.btn_inline { display: inline-block; width: auto; height: 34px; line-height: 34px; vertical-align: top; padding: 0 20px; margin-right: 10px; }
.btn.btn_blue { background: #00b0dc; }
.btn.btn_blue:hover { background: white; color: #19223c; box-shadow: inset 0 0 0 2px #19223c; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l__column-1 { float: left; width: 600px; }
.l .l__column-2 { float: right; width: 320px; margin-bottom: 50px; }

.mainer { height: 508px; margin-bottom: 35px; background-image: url(../img/main-bg.jpg); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; }
.mainer .header { margin-bottom: 75px; }
.mainer .mainer__title { margin-bottom: 45px; padding: 25px 0 30px; background: #00b0dc; background: rgba(0, 176, 220, 0.8); text-align: center; color: white; text-transform: uppercase; line-height: 1.2; font-size: 18px; position: relative; top: 50px; -moz-transition-delay: 0.9s !important; -o-transition-delay: 0.9s !important; -webkit-transition-delay: 0.9s !important; transition-delay: 0.9s !important; }
.mainer .mainer__title.is-shown { top: 0; }
.mainer .mainer__title-big { position: relative; padding: 0 0 20px; font-size: 72px; }
.mainer .mainer__title-big:after { content: ""; position: absolute; bottom: 20px; left: 50%; width: 64px; height: 2px; margin-left: -32px; background: white; }
.mainer .mainer__logos { font-size: 0; text-align: center; }
.mainer .mainer__logos li { display: inline-block; vertical-align: middle; margin-left: 20px; }
.mainer .mainer__logos li:first-child { margin: 0; }
.mainer .mainer__logos li img { top: 0; left: -30px; }
.mainer .mainer__logos li img.is-shown { left: 0; }
.mainer .mainer__logos li + li img { left: auto; right: -30px; }
.mainer .mainer__logos li + li img.is-shown { right: 0; left: auto; }

.direction { text-align: center; }
.direction .direction__title { margin-bottom: 20px; text-transform: uppercase; line-height: 1.2; }
.direction .direction__title-small { font-size: 18px; }
.direction .direction__title-big { font-size: 72px; }
.direction .direction__list { font-size: 0; }
.direction .direction__item { display: inline-block; width: 33%; padding: 0 20px; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.direction .direction__item:hover .direction__item-title { color: #00b0dc; }
.direction .direction__item-title { position: relative; min-height: 34px; margin-bottom: 35px; padding-bottom: 30px; border-bottom: 2px solid #eaebeb; text-transform: uppercase; color: #19223c; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; font-size: 14px; line-height: 1.2; }
.direction .direction__item-title:after { content: ""; position: absolute; bottom: -16px; left: 50%; margin-left: -8px; width: 16px; height: 16px; background: #00b0dc; }

.icf { padding: 0 0 50px; background: #065071; text-align: center; color: white; }
.icf .icf__arr { position: relative; height: 120px; margin-bottom: 40px; overflow: hidden; }
.icf .icf__arr-in { position: absolute; bottom: 0; left: 50%; margin-left: -960px; width: 0px; height: 0px; border-style: solid; border-width: 120px 960px 0 960px; border-color: white transparent transparent transparent; z-index: 2; }
.icf .icf__logo { position: absolute; top: 30px; left: 50%; margin-left: -28px; background: url('../img/icons-s24cdcc4562.png') 0 -288px no-repeat; width: 56px; height: 55px; z-index: 4; }
.icf .icf__title { font-size: 72px; text-transform: uppercase; line-height: 1.2; }
.icf .l-center { position: relative; z-index: 4; }
.icf .l-center > .text { margin-bottom: 35px; }
.icf .icf__list { *zoom: 1; }
.icf .icf__list:after { content: " "; display: table; clear: both; }
.icf .icf__item { float: left; width: 240px; margin-left: 36px; border: 2px solid transparent; padding: 20px 20px 25px; }
.icf .icf__item:first-child { margin-left: 18px; }
.icf .icf__item .text + .icf__counter { margin-top: 40px; }
.icf .icf__item .text { height: 38px; }
.icf .icf__item_border { border-color: white; }
.icf .icf__counter { position: relative; padding-bottom: 30px; font-size: 36px; }
.icf .icf__counter:after { content: ""; position: absolute; bottom: 17px; left: 50%; width: 100px; height: 2px; margin-left: -50px; background: #00b0dc; }
.icf .text { color: white; }

.actual { text-align: center; }
.actual .actual__title { padding: 40px 0 20px; text-transform: uppercase; line-height: 1.2; }
.actual .actual__title-small { font-size: 18px; }
.actual .actual__title-big { font-size: 72px; }
.actual .text { padding: 20px; border: 2px solid #00b0dc; }

.m-news { padding: 35px 0; }
.m-news.m-news_company { background: #f6f6f6; }
.m-news.m-news_company .m-news__date { color: #00b0dc; }
.m-news.m-news_company .m-news__date:after { background: #19223c; }
.m-news.m-news_company .m-news__item:hover .m-news__date { color: #19223c; }
.m-news.m-news_company .m-news__item:hover .m-news__date:after { background: #00b0dc; }
.m-news .m-news__head { margin-bottom: 20px; *zoom: 1; }
.m-news .m-news__head:after { content: " "; display: table; clear: both; }
.m-news .m-news__title { float: left; text-transform: uppercase; color: #00b0dc; line-height: 1.6; font-size: 16px; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.m-news .m-news__all { float: right; }
.m-news .m-news__list { *zoom: 1; }
.m-news .m-news__list:after { content: " "; display: table; clear: both; }
.m-news .m-news__item { float: left; width: 460px; color: #19223c; }
.m-news .m-news__item:first-child { width: 480px; margin-right: 20px; }
.m-news .m-news__item:hover .m-news__title { color: #00b0dc; }
.m-news .m-news__item:hover .m-news__date { color: #00b0dc; }
.m-news .m-news__item:hover .m-news__date:after { background: #19223c; }
.m-news .m-news__date { position: relative; float: left; width: 115px; margin-right: 20px; line-height: 1; color: #19223c; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.m-news .m-news__date:after { content: ""; position: absolute; top: 46px; right: 6px; width: 111px; height: 2px; background: #00b0dc; -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; -webkit-transition: background 0.2s linear; transition: background 0.2s linear; }
.m-news .m-news__date li { text-align: right; font-size: 48px; height: 37px; }
.m-news .m-news__date li:first-child { text-align: left; }
.m-news .m-news__data { display: table; }
.m-news .m-news__data .m-news__title { margin-bottom: 10px; color: #19223c; }

.m-info { padding: 25px 0 60px; *zoom: 1; }
.m-info:after { content: " "; display: table; clear: both; }

.m-expertise { float: left; width: 480px; margin-right: 20px; }
.m-expertise .m-expertise__title { margin-bottom: 15px; text-transform: uppercase; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.m-expertise .m-expertise__title a { color: #00b0dc; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.m-expertise .m-expertise__title a:hover { color: #19223c; }
.m-expertise .m-expertise__in { *zoom: 1; color: #19223c; }
.m-expertise .m-expertise__in:after { content: " "; display: table; clear: both; }
.m-expertise .m-expertise__in:hover .m-expertise__pic:after { border-color: #00b0dc; }
.m-expertise .m-expertise__in:hover .m-expertise__title { color: #00b0dc; }
.m-expertise .m-expertise__pic { position: relative; float: left; margin-right: 25px; font-size: 0; }
.m-expertise .m-expertise__pic:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 2px solid transparent; -moz-transition: border-color 0.2s linear; -o-transition: border-color 0.2s linear; -webkit-transition: border-color 0.2s linear; transition: border-color 0.2s linear; }
.m-expertise .m-expertise__data { display: table; }
.m-expertise .m-expertise__date { margin-bottom: 10px; font-family: "Roboto", Arial, sans-serif; }

.m-event { float: left; width: 460px; }
.m-event .m-event__title { margin-bottom: 15px; text-transform: uppercase; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.m-event .m-event__title a { color: #19223c; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.m-event .m-event__title a:hover { color: #00b0dc; }
.m-event > .m-event__title { color: #00b0dc; }
.m-event .m-event__in { *zoom: 1; color: #19223c; }
.m-event .m-event__in:after { content: " "; display: table; clear: both; }
.m-event .m-event__in:hover .m-event__pic:after { border-color: #00b0dc; }
.m-event .m-event__in:hover .m-event__title { color: #00b0dc; }
.m-event .m-event__in:hover .m-event__time { background: #19223c; }
.m-event .m-event__pic { position: relative; float: left; margin-right: 25px; font-size: 0; }
.m-event .m-event__pic:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 2px solid transparent; -moz-transition: border-color 0.2s linear; -o-transition: border-color 0.2s linear; -webkit-transition: border-color 0.2s linear; transition: border-color 0.2s linear; }
.m-event .m-event__data { display: table; }
.m-event .m-event__date { font-family: "Roboto", Arial, sans-serif; font-size: 12px; }
.m-event .m-event__text { margin-bottom: 10px; font-family: "Roboto", Arial, sans-serif; line-height: 1.2; font-size: 12px; color: #666666; }
.m-event .m-event__details { position: relative; margin-bottom: 20px; z-index: 2; }
.m-event .m-event__details .m-event__time, .m-event .m-event__details .m-event__title { display: inline-block; vertical-align: middle; }
.m-event .m-event__details .m-event__title { width: 240px; margin: 0; }
.m-event .m-event__time { width: 68px; height: 68px; margin-right: 15px; margin-left: -59px; background: #00b0dc; border-radius: 50%; line-height: 68px; text-align: center; color: white; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; -webkit-transition: background 0.2s linear; transition: background 0.2s linear; }

.strengths { padding: 35px 0 60px; background: #065071; color: white; text-align: center; }
.strengths .strengths__title-big { font-size: 72px; line-height: 1.2; text-transform: uppercase; }
.strengths .strengths__list { margin-bottom: 40px; *zoom: 1; }
.strengths .strengths__list:after { content: " "; display: table; clear: both; }
.strengths .strengths__item { float: left; width: 276px; border: 2px solid transparent; padding: 20px 20px 25px; text-align: left; }
.strengths .strengths__item .text + .strengths__head { margin-top: 55px; }
.strengths .strengths__item_border { border-color: white; }
.strengths .strengths__head { position: relative; padding-bottom: 20px; margin-bottom: 20px; overflow: hidden; line-height: 1.2; }
.strengths .strengths__head:after { content: ""; position: absolute; bottom: 0; left: 0; width: 100px; height: 2px; background: #00b0dc; }
.strengths .strengths__counter { float: left; width: 50px; font-size: 36px; }
.strengths .strengths__title { display: table; font-size: 18px; text-transform: uppercase; }
.strengths .strengths__title-small, .strengths .strengths__title-middle { position: relative; text-transform: uppercase; line-height: 1; }
.strengths .strengths__title-small:before, .strengths .strengths__title-middle:before { content: ""; position: absolute; left: 50%; width: 100px; height: 2px; margin-left: -50px; background: white; }
.strengths .strengths__title-small { padding-top: 40px; margin-bottom: 10px; font-size: 18px; }
.strengths .strengths__title-small:before { top: 0; }
.strengths .strengths__title-middle { margin-bottom: 25px; padding-bottom: 30px; font-size: 48px; }
.strengths .strengths__title-middle:before { bottom: 0; }
.strengths .strengths__title-middle + .text { padding: 0 40px; }
.strengths .text { color: white; }

.say-about { position: relative; margin: 65px 0 75px; padding: 35px 20px 20px; border: 2px solid #19223c; }
.say-about.say-about_inner { margin: 0 0 75px; }
.say-about .say-about__slider { overflow: hidden; }
.say-about .say-about__item { width: 100%; overflow: hidden; }
.say-about .say-about__logo { float: left; margin-right: 20px; }
.say-about .say-about__text { overflow: hidden; }
.say-about .say-about__text .text { margin-bottom: 10px; color: #19223c; }
.say-about .say-about__author { font-size: 16px; text-transform: uppercase; }
.say-about .say-about__title { position: absolute; top: -18px; left: 0; right: 0; text-align: center; }
.say-about .say-about__title span { display: inline-block; padding: 0 25px; background: white; text-transform: uppercase; vertical-align: top; font-size: 30px; }
.say-about .say-about__prev, .say-about .say-about__next { position: absolute; top: 65px; padding: 6px 9px; border: 2px solid #19223c; font-size: 0; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; -webkit-transition: background 0.2s linear; transition: background 0.2s linear; }
.say-about .say-about__prev i, .say-about .say-about__next i { display: block; }
.say-about .say-about__prev:hover, .say-about .say-about__next:hover { background: #19223c; }
.say-about .say-about__prev { left: -60px; }
.say-about .say-about__prev i { background: url('../img/icons-s24cdcc4562.png') 0 -25px no-repeat; width: 9px; height: 15px; }
.say-about .say-about__prev:hover i { background: url('../img/icons-s24cdcc4562.png') 0 0 no-repeat; width: 9px; height: 15px; }
.say-about .say-about__next { right: -60px; }
.say-about .say-about__next i { background: url('../img/icons-s24cdcc4562.png') 0 -75px no-repeat; width: 9px; height: 15px; }
.say-about .say-about__next:hover i { background: url('../img/icons-s24cdcc4562.png') 0 -50px no-repeat; width: 9px; height: 15px; }

.request { position: relative; padding: 25px 0 40px; margin-bottom: 75px; border: 2px solid #00b0dc; text-align: center; }
.request .request__title { position: absolute; top: -18px; left: 0; right: 0; text-align: center; }
.request .request__title span { display: inline-block; padding: 0 25px; background: white; text-transform: uppercase; vertical-align: top; font-size: 30px; color: #00b0dc; }
.request .request__info { font-size: 0; }
.request .request__phone, .request .request__send, .request .request__mail { display: inline-block; width: 285px; margin: 0 15px; vertical-align: middle; font-size: 18px; text-transform: uppercase; }
.request .request__phone span, .request .request__send span, .request .request__mail span { display: block; }
.request .request__mail a { color: #19223c; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.request .request__mail a:hover { color: #00b0dc; }
.request .text { width: 500px; margin: 0 auto 30px; color: #19223c; }

.button { display: block; width: 100%; padding: 23px 0 19px; background: #00b0dc; font-size: 18px; text-transform: uppercase; color: white; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; -webkit-transition: background 0.2s linear; transition: background 0.2s linear; }
.button:hover { background: #19223c; }
.button.button_dark { background: #19223c; }
.button.button_dark:hover { background: #00b0dc; }

.breadcrumbs { padding: 23px 0 10px; font-size: 0; }
.breadcrumbs li { display: inline; font-size: 10px; text-transform: uppercase; }
.breadcrumbs a, .breadcrumbs span { color: #00b0dc; }
.breadcrumbs span { padding: 0 3px; }

.big-title { margin-bottom: 40px; padding: 35px 0 25px; background: #33c0e3; font-size: 36px; text-transform: uppercase; text-align: center; color: white; }
.big-title p { font-size: 18px; }

.rss { width: 800px; margin: 0 auto; }

.rss__topper { margin-bottom: 40px; text-align: center; line-height: 1.6; font-family: "Roboto", Arial, sans-serif; font-size: 14px; color: #19223c; }

.rss__form { width: 359px; margin: 0 auto 84px; }

.contacts { position: relative; margin-top: -40px; height: 560px; }

.contacts__popup { position: absolute; top: 38px; left: 50%; margin-left: -479px; width: 320px; padding: 30px; background: #f9f9f9; z-index: 2; }

.contacts__row { margin-top: 20px; font-size: 12px; color: #19223c; text-transform: uppercase; line-height: 1.5; }
.contacts__row:first-child { margin-top: 0; }
.contacts__row span { color: #33c0e3; }
.contacts__row a { font-size: 12px; color: #19223c; text-transform: uppercase; text-decoration: none; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.contacts__row a:hover { color: #00b0dc; }

.map { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; }

.article { position: relative; padding-top: 35px; margin-bottom: 75px; }
.article a { color: #00b0dc; }
.article:before { content: ""; position: absolute; top: 35px; left: -63px; width: 136px; height: 2px; background: #00b0dc; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.article.article_news { padding-top: 0; }
.article.article_news:before { display: none; }
.article p { font-size: 14px; font-family: "Roboto", Arial, sans-serif; letter-spacing: 0.1px; line-height: 1.6; color: #666666; margin-bottom: 25px; }
.article q { position: relative; display: block; margin-bottom: 20px; padding-left: 87px; font-size: 18px; text-transform: uppercase; color: #19223c; letter-spacing: 1px; }
.article q:before { content: ""; position: absolute; top: 0; left: 40px; background: url('../img/icons-s24cdcc4562.png') 0 -764px no-repeat; width: 25px; height: 17px; }
.article ul { padding: 0 14px; }
.article ul li { position: relative; padding-left: 28px; margin-bottom: 25px; font-size: 14px; font-family: "Roboto", Arial, sans-serif; color: #666666; }
.article ul li:before { content: ""; position: absolute; top: 10px; left: 0; width: 5px; height: 5px; border-radius: 50%; background: #33c0e3; }
.article .btn-border { margin-right: 30px; }

.article__title { margin-bottom: 25px; padding-left: 40px; font-size: 18px; color: #19223c; text-transform: uppercase; }

.article__time { position: relative; padding-left: 118px; }

.time { position: absolute; top: -45px; left: 0; width: 100px; height: 100px; line-height: 100px; border-radius: 50%; background: #00b0dc; text-align: center; font-size: 24px; color: white; }
.time.time_small { top: auto; bottom: 0px; left: 5px; width: 70px; height: 70px; line-height: 1.2; font-size: 14px; vertical-align: middle; }
.time.time_small:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.time.time_small span { display: inline-block; vertical-align: middle; }

.article__img { font-size: 0; margin-bottom: 15px; }
.article__img img { width: 100%; }

.article__topper, .expert { position: relative; padding-bottom: 20px; border-bottom: 2px solid #eaebeb; margin-bottom: 30px; }
.article__topper .date, .expert .date { margin-bottom: 20px; }

.expert { overflow: hidden; }
.expert .expert__content { overflow: hidden; }
.expert .expert__img { float: left; margin-right: 25px; }
.expert .expert__about { margin-bottom: 18px; font-size: 11px; font-family: "Roboto", Arial, sans-serif; }
.expert .expert__about dt { color: black; }
.expert .expert__about dd { color: #666666; }
.expert h3 { font-family: "FuturaDemiC", Arial, sans-serif; text-transform: uppercase; color: #19233e; font-weight: normal; margin-bottom: 6px; }
.expert h3 a { text-decoration: none; color: #19233e; }

.title { margin-bottom: 5px; font-size: 16px; color: #19223c; text-transform: uppercase; display: block; text-decoration: none; }
.article .title { color: #19223c; }
.article .title:hover { color: #00b0dc; }

.date { font-size: 10px; color: #19223c; font-family: "Roboto", Arial, sans-serif; }

.article__author { margin-bottom: 20px; font-family: "Roboto", Arial, sans-serif; font-size: 10px; color: #666666; }

.menu { background: #f7f7f7; padding: 30px; margin-bottom: 45px; }

.menu__item { margin-top: 20px; }
.menu__item:first-child { margin-top: 0; }
.menu__item a { font-size: 12px; color: #19223c; text-transform: uppercase; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.menu__item a:hover { color: #33c0e3; }

.categs { padding: 20px; border: 2px solid #1db0da; margin-bottom: 45px; }
.categs h3 { font-size: 13px; text-transform: uppercase; color: #19233e; margin-bottom: 14px; }
.categs ul { list-style: none; font-size: 12px; }
.categs ul li { margin-bottom: 10px; }
.categs ul a { text-decoration: none; color: #19233e; text-transform: uppercase; }
.categs .is-active { color: #3fc0e1; }

.popular .title { margin-bottom: 15px; }
.popular .btn-border { margin-top: 14px; }

.popular_wide .popular__item { overflow: hidden; }
.popular_wide .video { float: left; width: 300px; margin-right: 20px; }
.popular_wide .popular__link { display: block; }

.popular__item { margin-bottom: 40px; }

.popular__link { display: inline-block; margin-bottom: 10px; font-size: 12px; color: #19223c; text-transform: uppercase; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.popular__link:hover { color: #00b0dc; }

.video { height: 192px; margin-bottom: 15px; }

.m-news__info { font-family: "Roboto", Arial, sans-serif; font-size: 14px; color: #19223c; }
.m-news__info a { color: #33c0e3; }

.m-news_inner { padding-top: 0; }
.m-news_inner .text { clear: both; padding-top: 30px; line-height: 1.6; }
.m-news_inner .m-news__item { width: auto; margin-top: 40px; }
.m-news_inner .m-news__item:first-child { margin-top: 0; width: auto; }
.m-news_inner .m-news__data { width: 340px; }

.top { margin-bottom: 33px; padding-bottom: 33px; border-bottom: 1px solid #eaebeb; }

.top__title { margin-bottom: 5px; font-size: 16px; color: #19223c; text-transform: uppercase; }

.top__list { font-size: 0; }

.top__item { display: inline-block; vertical-align: top; width: 300px; margin-left: 30px; font-size: 14px; }
.top__item:first-child { margin-left: 0; }

.top__img { display: block; height: 140px; overflow: hidden; font-size: 0; margin-bottom: 15px; }
.top__img img { width: 100%; height: auto; min-height: 100%; }

.top__link { font-size: 12px; color: #19223c; text-transform: uppercase; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.top__link:hover { color: #00b0dc; }

.expertise__item { margin-bottom: 40px; }

.expertise__title { margin-bottom: 20px; text-transform: uppercase; font-size: 16px; color: #00b0dc; }

.expertise__topper { *zoom: 1; }
.expertise__topper:after { content: " "; display: table; clear: both; }

.expertise__img { float: left; display: block; width: 80px; margin-right: 24px; margin-bottom: 20px; font-size: 0; }
.expertise__img img { width: 100%; }

.expertise__date { margin-bottom: 15px; font-family: "Roboto", Arial, sans-serif; font-size: 14px; color: #19223c; }

.expertise__link { font-size: 16px; color: #19223c; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; text-transform: uppercase; }
.expertise__link:hover { color: #00b0dc; }

.article_topper { padding-left: 40px; }

.event-list { margin-bottom: 35px; border-bottom: 2px solid #eaebeb; }
.event-list.event-list_noborder { border-bottom: none; margin-bottom: 0; }

.event-list__title { margin-bottom: 20px; font-size: 16px; text-transform: uppercase; color: #00b0dc; }

ul.event-list__list { padding: 0; }
ul.event-list__list li.event-list__item { padding-left: 0; *zoom: 1; }
ul.event-list__list li.event-list__item:after { content: " "; display: table; clear: both; }
ul.event-list__list li.event-list__item:before { display: none; }

.event-list__left { position: relative; float: left; width: 80px; margin-right: 20px; }

.event-list__img { font-size: 0; margin-bottom: 50px; }
.event-list__img img { width: 100%; }

.event-list__author { margin-bottom: 5px; font-family: "Roboto", Arial, sans-serif; font-size: 10px; color: #666666; }

.event-list .event-list__link { display: inline-block; margin-bottom: 30px; font-size: 12px; color: #19223c; font-family: "FuturaDemiC", Arial, sans-serif; text-transform: uppercase; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.event-list .event-list__link:hover { color: #00b0dc; }

.lectors { margin-bottom: 80px; }

.lectors__title { font-size: 16px; color: #00b0dc; text-transform: uppercase; margin-bottom: 25px; }

ul.lectors__list { margin-left: -37px; padding: 0; }
ul.lectors__list li.lectors__item { width: 280px; display: inline-block; vertical-align: top; margin-bottom: 30px; padding-left: 0; margin-left: 37px; *zoom: 1; }
ul.lectors__list li.lectors__item:after { content: " "; display: table; clear: both; }
ul.lectors__list li.lectors__item img { float: left; width: 80px; margin-right: 25px; }
ul.lectors__list li.lectors__item p { color: #666666; line-height: 1.3; font-size: 12px; }
ul.lectors__list li.lectors__item:before { display: none; }

.comments { padding-top: 45px; border-top: 2px solid #eaebeb; }

.comments__title { font-size: 16px; color: #00b0dc; text-transform: uppercase; margin-bottom: 25px; }

.comments__item { margin-bottom: 35px; }

.comments__text { font-family: "Roboto", Arial, sans-serif; font-size: 10px; color: #19223c; margin-bottom: 15px; }

.comments__author { *zoom: 1; }
.comments__author:after { content: " "; display: table; clear: both; }

.comments__img { float: left; width: 48px; margin-right: 18px; font-size: 0; }
.comments__img img { width: 100%; }

.comments__info { width: 254px; }

.comments__name { font-size: 12px; text-transform: uppercase; color: #19223c; }

.comments__about { font-family: "Roboto", Arial, sans-serif; font-size: 10px; color: #666666; }

.calendar { padding: 17px 8px 8px; background: #f7f7f7; margin-bottom: 37px; }

.request_cols { margin-bottom: 45px; }
.request_cols .request__info { *zoom: 1; padding: 0 65px; }
.request_cols .request__info:after { content: " "; display: table; clear: both; }
.request_cols .request__info .btn-border { margin-right: 10px; }

.request__left { float: left; width: 380px; font-size: 14px; text-align: left; }
.request__left p { font-family: "Roboto", Arial, sans-serif; text-transform: none; color: #19223c; font-size: 14px; }

.request__right { float: right; width: 380px; font-size: 14px; text-align: left; }
.request__right p { font-family: "Roboto", Arial, sans-serif; text-transform: none; font-size: 14px; }

.request__content { min-height: 75px; }

.phone { font-size: 18px; text-transform: uppercase; }

.title2 { margin-bottom: 15px; text-align: center; font-size: 30px; text-transform: uppercase; color: #19223c; }

.consulting { margin-bottom: 25px; text-align: center; }

.consulting__text { margin-bottom: 25px; font-family: "Roboto", Arial, sans-serif; color: #19223c; }

.consulting__btn { width: 359px; margin: 0 auto 60px; }

.consulting__faq { *zoom: 1; }
.consulting__faq:after { content: " "; display: table; clear: both; }

.consulting__col { float: left; width: 440px; }
.consulting__col.right { float: right; }

.consulting__title { font-size: 16px; text-align: left; color: #00b0dc; margin-bottom: 25px; text-transform: uppercase; color: #19223c; }

.consulting__list { text-align: left; }
.consulting__list li { margin-bottom: 25px; font-size: 12px; color: #19223c; text-transform: uppercase; }
.consulting__list li a { color: #00b0dc; }
.consulting__list li a:hover { color: #19223c; }
.consulting__list li:before { position: absolute; top: 0px; left: 0px; font-size: 12px; color: #00b0dc; }
.consulting__list.list-numb { counter-reset: li; }
.consulting__list.list-numb li { position: relative; padding-left: 30px; }
.consulting__list.list-numb li:before { content: counter(li); counter-increment: li; }

.icf_inner { margin-bottom: 60px; }

.diff { text-align: center; }

.diff__title { margin-bottom: 15px; color: white; font-size: 30px; text-transform: uppercase; }
.diff__title span { font-size: 16px; }

.diff__text { font-family: "Roboto", Arial, sans-serif; color: white; font-size: 14px; line-height: 1.6; }

.or { display: inline-block; vertical-align: middle; margin-right: 75px; font-size: 18px; text-transform: uppercase; color: #00b0dc; }

.tab-wrap { margin-bottom: 35px; }

.tab { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; margin-bottom: 15px; }
.tab:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }

.tab__item { display: inline-block; line-height: normal; vertical-align: top; font-size: 14px; }
.tab__item a, .tab__item span { text-align: left; font-size: 16px; text-transform: uppercase; color: #00b0dc; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.tab__item a:hover, .tab__item span:hover { color: #19223c; }
.tab__item a.is-active, .tab__item span.is-active { color: #19223c; }
.tab__item span { cursor: pointer; }

.tab-cont { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; padding: 25px 0 35px; border-top: 2px solid #eaebeb; border-bottom: 2px solid #eaebeb; }
.tab-cont:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }

.jurisdictions__list { display: inline-block; line-height: normal; vertical-align: top; font-size: 14px; width: 280px; }

.region { margin-bottom: 15px; font-size: 12px; color: #19223c; text-transform: uppercase; }

.region__title { color: #00b0dc; font-size: 12px; margin-bottom: 20px; }

.region__list li { margin-bottom: 10px; }
.region__list li a { color: #19223c; text-transform: uppercase; text-decoration: none; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.region__list li a:hover { color: #00b0dc; }

.imap { padding-bottom: 40px; border-bottom: 2px solid #eaebeb; margin-bottom: 35px; }

.imap__title { font-size: 16px; color: #19223c; text-transform: uppercase; margin-bottom: 13px; }

.imap__controls { *zoom: 1; margin-bottom: 20px; }
.imap__controls:after { content: " "; display: table; clear: both; }

.imap__btns { float: left; font-size: 0; }
.imap__btns li { display: inline-block; vertical-align: top; margin-right: 18px; }

.imap__back { position: relative; float: right; padding-right: 45px; height: 31px; font-size: 12px; text-transform: uppercase; }
.imap__back:before { content: ""; position: absolute; top: 0; right: 0; width: 27px; height: 27px; border: 2px solid #19223c; background: white; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.imap__back:after { content: ""; position: absolute; top: 9px; right: 12px; background: url('../img/icons-s24cdcc4562.png') 0 -25px no-repeat; width: 9px; height: 15px; }
.imap__back:hover:before { background: #19223c; }
.imap__back:hover:after { background: url('../img/icons-s24cdcc4562.png') 0 0 no-repeat; width: 9px; height: 15px; }

.imap-btn { display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 210px; height: 34px; border: 2px solid #eaebeb; text-align: center; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; }
.imap-btn span { position: relative; display: inline-block; font-size: 12px; color: #cccccc; text-transform: uppercase; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; }
.imap-btn span:before { content: ""; position: absolute; top: 0; left: -25px; width: 15px; height: 15px; }
.imap-btn.imap-btn_blue span:before { background: #00b0dc; }
.imap-btn.imap-btn_blue.is-active { border: 2px solid #00b0dc; }
.imap-btn.imap-btn_blue.is-active span { color: #00b0dc; }
.imap-btn.imap-btn_dark span:before { background: #19223c; }
.imap-btn.imap-btn_dark.is-active { border: 2px solid #19223c; }
.imap-btn.imap-btn_dark.is-active span { color: #19223c; }
.imap-btn.imap-btn_gray span:before { background: #999999; }
.imap-btn.imap-btn_gray.is-active { border: 2px solid #999999; }
.imap-btn.imap-btn_gray.is-active span { color: #999999; }

.imap__container { position: relative; height: 456px; overflow: hidden; }

.imap__global { position: relative; height: 456px; background: url(../img/imap.png) 0 0 no-repeat; }

.imap__europe { position: relative; height: 456px; background: url(../img/europe.png) 0 0 no-repeat; }

.imap__carribian { position: relative; height: 456px; background: url(../img/carribian.png) 0 0 no-repeat; }

.pin { position: absolute; cursor: pointer; }
.pin:hover .pin__tooltip { visibility: visible; top: -30px; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.pin__tooltip { visibility: hidden; position: absolute; top: -30px; left: 50%; border: 2px solid #19223c; padding: 2px 10px; color: #19223c; text-align: center; text-transform: uppercase; font-size: 10px; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; background: white; top: -35px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; z-index: 99; }

.pin1 { background: url('../img/icons-s24cdcc4562.png') 0 -511px no-repeat; width: 28px; height: 47px; }

.pin1-link { background: url('../img/icons-s24cdcc4562.png') 0 -470px no-repeat; width: 21px; height: 31px; }

.pin2 { background: url('../img/icons-s24cdcc4562.png') 0 -609px no-repeat; width: 28px; height: 47px; }

.pin2-link { background: url('../img/icons-s24cdcc4562.png') 0 -568px no-repeat; width: 21px; height: 31px; }

.pin3 { background: url('../img/icons-s24cdcc4562.png') 0 -707px no-repeat; width: 28px; height: 47px; }

.pin3-link { background: url('../img/icons-s24cdcc4562.png') 0 -666px no-repeat; width: 21px; height: 31px; }

.beliz { top: 181px; left: 119px; }

.costa-rika { top: 200px; left: 133px; }

.panama { top: 205px; left: 145px; }

.man-island { top: 63px; left: 396px; }

.jersy-island { top: 74px; left: 406px; }

.oae { top: 167px; left: 565px; }

.seishely { top: 267px; left: 550px; }

.mavrikiy { top: 300px; left: 570px; }

.marshall-islands { top: 220px; right: 64px; }

.samoa { top: 308px; right: 20px; }

.urugvay { top: 337px; left: 238px; }

.honkong { top: 164px; right: 187px; }

.singapour { top: 234px; right: 220px; }

.newzeland { bottom: 34px; right: 50px; }

.caribi { top: 156px; left: 151px; }

.usa { top: 100px; left: 120px; }

.canada { top: 70px; left: 80px; }

.china { top: 140px; right: 220px; }

.europa { top: 60px; left: 425px; }

.england { top: 170px; left: 100px; }

.germany { top: 200px; left: 230px; }

.poland { top: 208px; left: 283px; }

.malta { top: 292px; left: 235px; }

.netherlands { top: 150px; left: 203px; }

.luksemburg { top: 188px; left: 188px; }

.switzerland { top: 219px; left: 209px; }

.spain { top: 270px; left: 100px; }

.austria { top: 223px; left: 254px; }

.denmark { top: 124px; left: 221px; }

.sweden { top: 78px; left: 254px; }

.finland { top: 72px; left: 313px; }

.hibraltar { top: 301px; left: 122px; }

.cyprus { top: 300px; left: 323px; }

.bulgaria { top: 250px; left: 331px; }

.romania { top: 226px; left: 346px; }

.hungary { top: 223px; left: 314px; }

.latvia { top: 150px; left: 315px; }

.czech { top: 202px; left: 324px; }

.estonia { top: 113px; left: 319px; }

.bermudy { top: 50px; right: 300px; }

.bagamy { top: 167px; left: 408px; }

.terks { top: 190px; left: 452px; }

.angilia { top: 206px; left: 477px; }

.nevis { top: 223px; left: 495px; }

.kaymans { top: 220px; left: 355px; }

.virgins { top: 226px; left: 450px; }

.dominikana { top: 250px; left: 503px; }

.sentlusia { top: 277px; left: 508px; }

.grenadiny { top: 289px; left: 482px; }

.m-news_sidebar { border-bottom: 2px solid #e7e6e6; margin-bottom: 35px; }
.m-news_sidebar .m-news__item { width: auto; margin-right: 0; margin-bottom: 35px; }
.m-news_sidebar .m-news__date { width: 75px; position: relative; left: 10px; }
.m-news_sidebar .m-news__date:after { top: 31px; width: 89px; }
.m-news_sidebar .m-news__date li { font-size: 30px; position: relative; left: -10px; }
.m-news_sidebar .m-news__date li:first-child { position: relative; left: -10px; }
.m-news_sidebar .m-news__data { width: 184px; }
.m-news_sidebar .m-news__title { font-size: 12px; }
.m-news_sidebar .m-news__all { float: none; }

.expertise_sidebar { padding-bottom: 35px; border-bottom: 2px solid #e7e6e6; margin-bottom: 35px; }
.expertise_sidebar .date { margin-bottom: 24px; }
.expertise_sidebar .expertise__link { font-size: 12px; }

.event-list_sidebar .event-list__item { margin-bottom: 45px; }
.event-list_sidebar .event-list__right { float: right; width: 220px; }
.event-list_sidebar .event-list__author { margin-bottom: 20px; }

.services__item { padding: 35px 0; }
.services__item.dark { background: url(../img/ptrn.jpg); }
.services__item .l-center { *zoom: 1; }
.services__item .l-center:after { content: " "; display: table; clear: both; }
.services__item:first-child { padding: 0 0 35px; }

.services__bottom { padding: 35px 0 65px; text-align: center; }

.services__divide { display: inline-block; width: 100px; height: 2px; background: #00b0dc; margin-bottom: 25px; }

.services__bottom-text { width: 80%; margin: 0 auto; font-size: 12px; color: #19223c; text-transform: uppercase; }

.services__left { float: left; width: 250px; padding-right: 50px; }

.services__right { float: right; width: 640px; }

.services__list li { margin-bottom: 15px; }
.services__list li a { font-size: 12px; color: #00b0dc; text-transform: uppercase; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.services__list li a:hover { color: #19223c; }

.services__number { position: relative; }
.services__number:before { content: ""; position: absolute; top: 49px; left: -10px; width: 115px; height: 2px; background: #00b0dc; -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; -webkit-transition: background 0.2s linear; transition: background 0.2s linear; }
.services__number li { font-size: 48px; line-height: 1; text-transform: uppercase; }
.services__number li span { display: inline-block; vertical-align: top; padding-left: 68px; font-size: 18px; }

.services__text { padding-left: 68px; font-size: 14px; color: #666666; font-family: "Roboto", Arial, sans-serif; line-height: 1.6; }

.services__map { height: 177px; background: url(../img/world.png) 0 0 no-repeat; vertical-align: middle; text-align: center; }
.services__map:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }

.services__btn { display: inline-block; vertical-align: middle; padding: 9px 20px 7px; font-size: 12px; color: white; text-transform: uppercase; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #00b0dc; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.services__btn:hover { background: #19223c; }

.error-wrap { position: relative; }

.error { text-align: center; padding-top: 100px; }

.error__topper { height: 120px; padding-top: 80px; }
.error__topper .logo { display: inline-block; float: none; }

.error__content { height: 165px; padding-top: 35px; background: #00b0dc; font-size: 18px; color: white; text-transform: uppercase; }
.error__content a { color: white; line-height: 1.2; text-decoration: underline; }
.error__content a:hover { text-decoration: none; }

.error__alert { position: relative; margin-bottom: 15px; font-size: 72px; text-transform: uppercase; color: white; }
.error__alert:before { content: ""; position: absolute; bottom: 0; left: 50%; width: 66px; margin-left: -33px; height: 2px; background: white; }

.popup-wrap { position: fixed; text-align: center; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0, 0, 0, 0.5); z-index: 999; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.popup-wrap:before { content: ""; display: inline-block; height: 100%; vertical-align: middle; }

.popup { position: relative; display: inline-block; vertical-align: middle; width: 436px; padding: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; -webkit-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transform: scale(0.8); -ms-transform: scale(0.8); -webkit-transform: scale(0.8); transform: scale(0.8); background: white; }
.popup.is-open { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }
.popup .checkbox { text-align: left; }
.popup.popup_pay { width: 746px; padding: 30px 45px; text-align: left; background: white url(../img/pay.jpg) no-repeat 100% 0; background-size: contain; }
.popup.popup_pay .button { display: inline-block; width: 360px; text-align: center; }

.popup__title { margin-bottom: 15px; font-size: 16px; color: #19223c; text-transform: uppercase; }
.popup_pay .popup__title { text-align: left; font-size: 24px; color: #1db1da; }

.popup .field { *zoom: 1; margin-bottom: 16px; font-size: 0; }
.popup .field:after { content: " "; display: table; clear: both; }
.popup .field .input { border-color: #19233e; width: 494px; font-size: 12px; margin-bottom: 0; background: transparent; text-align: left; padding-left: 10px; }
.popup .field .input_half { width: 179px; }
.popup .field label, .popup .field input { display: inline-block; vertical-align: top; }
.popup .field .field__label, .popup .field .field__anotherlabel { display: inline-block; width: 162px; font-family: "FuturaDemiC", Arial, sans-serif; text-transform: uppercase; color: #19233e; font-size: 12px; height: 35px; line-height: 35px; }
.popup .field .field__anotherlabel { width: 110px; padding-left: 24px; }
