.services__item.dark2 { background: url(../img/ptrn2.jpg) 0 0 repeat; }
.services__item.dark2 .services__map { margin-top: -5px; background: url(../img/building.png) 50% 0 no-repeat; }
.services__item.dark2 .services__btn { margin-top: 33px; }

.imap__btns .imap__pin-opt { margin-right: 48px; font-size: 12px; text-transform: uppercase; color: #00b0dc; vertical-align: middle; }
.imap__btns .imap__pin-opt.is-gray { color: #999999; }
.imap__btns i, .imap__btns span { display: inline-block; vertical-align: middle; }
.imap__btns span { margin: -8px 0 0 6px; }
.imap__btns .pin3 { margin-right: 3px; }
