// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
+font(FuturaDemiC, FuturaDemiC)  
=f
	font-family: "FuturaDemiC", Arial, sans-serif 
=fr
	font-family: "Roboto", Arial, sans-serif 
	
$bl: #00b0dc
$cld: #19223c
$clb: #065071

body
	+f
	font-size: 14px 
	line-height: 1.4
	color: $cld 
a
	text-decoration: none
button, input, textarea
	+f
button
	background: none 
=justify
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
=justify-child
	display: inline-block
	line-height: normal
	vertical-align: top
	font-size: 14px
// common blocks      
.l-center
	width: 960px
	margin: 0 auto
	padding: 0 10px
	
.topper
	background: $cld

.nav
	padding: 13px 0 12px
	font-size: 0
	text-align: justify
	ul
		&:after
			content: ""
			display: inline-block
			width: 100%
			vertical-align: top
	li
		position: relative
		display: inline-block
		vertical-align: top
	a
		display: block
		text-transform: uppercase
		color: #fff
		font-size: 11px 
		+tr(color .2s linear)
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			height: 0
			background: #fff 
			+tr(all .2s linear)
		&:hover
			&:before
				top: -13px
				height: 3px
		&:active
			&:before
				background: $bl
				height: 0 
		&:active
			color: $bl 
		&.nav__home
			position: relative
			top: 1px
			+s(home)
			&:after
				content: ""
				display: block
				+s(home-h)
				opacity: 0 
				+tr(opacity .2s linear)
			&:hover
				&:before
					top: -14px
			&:active
				&:after
					opacity: 1 

.header
	padding-top: 27px
	+clr
	.header__right
		float: right
		padding-top: 12px 
		font-size: 0
		.btn-border
			margin-left: 40px
	.header__phone
		display: inline-block
		padding-top: 2px
		vertical-align: middle
		font-size: 24px
		color: $cld 

.logo
	float: left
	+s(logo)

.language
	display: inline-block
	padding-top: 2px
	margin-left: 20px
	vertical-align: middle
	li
		display: inline-block
		margin-left: 15px
		vertical-align: middle
		&:first-child
			margin: 0
		&.is-active
			a
				color: $bl 
				cursor: default
				&:before
					display: none
	a
		position: relative
		text-transform: uppercase
		font-size: 12px
		color: $cld 
		+tr(color .2s linear)
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			height: 0
			background: $cld
			+tr(all .2s linear)
		&:hover 
			&:before
				top: -10px
				height: 3px
		&:active
			color: $bl  
			&:before
				height: 0
				background: $bl 

.footer
	padding: 30px 40px
	background: $cld 		
	color: #FFF 
	.footer__layout
		+clr
	.footer__left
		float: left
		width: 705px
	.footer__right
		float: right
		width: 210px
	.footer__about
		float: left
		.text
			float: left
			width: 270px
			margin-top: -3px
			font-size: 12px
	.footer__logo
		float: left
		margin-right: 25px
		+s(logo-white)
	.footer__subscribe
		float: right
		a
			color: $bl
			text-transform: uppercase
			font-size: 12px 
	.footer__info
		margin-bottom: 12px
		+clr
	.footer__phone
		float: left
		line-height: 1
		font-size: 16px 
	.footer__order
		margin-bottom: 30px
		.btn-border
			width: 100%
	.nav
		padding: 0 
		margin-bottom: 25px
	.language
		float: right
		padding: 0
		a
			color: #FFF 
			&:before
				background: #FFF 
	.text
		color: #FFF 

.created
	text-align: right
	.created__title, .created__logo
		display: inline-block
		vertical-align: middle
	.created__title
		+fr
		font-size: 12px
	.created__logo
		margin-left: 20px
		+s(vintage)
		&:before
			content: ""
			display: block
			+s(vintage-h)
			opacity: 0
			+scale(1.4)
			+tr(all .2s linear) 
		&:hover
			&:before
				opacity: 1 
				+scale(1)

.btn-border
	position: relative
	display: inline-block
	padding: 9px 20px 7px
	border: 2px solid $cld
	font-size: 12px
	text-transform: uppercase
	color: $cld 
	vertical-align: middle
	+box
	+tr(color .2s linear)
	overflow: visible
	z-index: 2 
	&:after
		content: ""
		position: absolute
		top: 100%
		bottom: 0
		left: 0
		right: 0
		background: $cld 
		+tr(top .2s linear)
		z-index: -1 
	&:hover
		color: #FFF
		&:after
			top: 0
	&.btn-border_white
		border-color: #fff
		color: #FFF 
		&:after
			background: #FFF
		&:hover
			color: $cld 
	&.btn-border_light
		color: $bl
		border: 2px solid $bl
		&:after
			background: $bl
		&:hover
			color: #fff	 

.link
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 0
		background: $bl
		+tr(all .2s linear)
	&:hover
		&:before
			top: -10px
			height: 3px
	&:active
		&:before
			height: 0

.text
	+fr
	font-size: 14px
	color: #666
	
.input
	width: 100%
	+box
	margin-bottom: 16px
	border: 2px solid #ccc
	height: 34px
	text-transform: uppercase
	text-align: center
	+placeholder
		font-size: 12px
		color: #999
		text-transform: uppercase

.checkbox
	position: relative
	display: block
	margin-bottom: 21px
	padding-left: 25px
	+nosel
	input
		opacity: 0
	input + i
		position: absolute
		top: 0
		left: 0
		width: 15px
		height: 15px
		border: 2px solid #ccc
	input:checked + i
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			+s(checkbox)
	span
		font-size: 12px
		text-transform: uppercase
		color: #999
		
// pagination
.pag
	margin-bottom: 60px						
.pag__topper
	+clr
	padding-bottom: 12px
	margin-bottom: 20px
	border-bottom: 2px solid #eaebeb 							 	 
.pag__prev, .pag__next
	float: left
	font-size: 10px
	color: #999
	text-transform: uppercase 
.pag__next
	float: right
.pag__links
	+clr
.pag__before
	position: relative
	float: left
	width: 9px
	height: 15px
	margin-right: 19px
	padding: 6px 9px
	border: 2px solid $cld
	+transition(background 200ms linear) 
	&:before
		content: ""
		position: absolute
		top: 6px
		left: 8px
		+s(arr-left)
	&:hover
		background: $cld 
		&:before
			+s(arr-left-h)
.pag__article-prev, .pag__article-next
	float: left
	width: 190px
	font-size: 12px
	text-transform: uppercase
	color: $cld
	+transition(color 200ms linear)
	&:hover
		color: $bl
.pag__article-next
	float: right
	text-align: right					
.pag__after
	position: relative
	float: right
	width: 9px
	height: 15px
	margin-left: 19px
	padding: 6px 9px
	border: 2px solid $cld
	+transition(background 200ms linear) 
	&:before
		content: ""
		position: absolute
		top: 6px
		left: 9px
		+s(arr-right)
	&:hover
		background: $cld 
		&:before
			+s(arr-right-h)
.pager 
	overflow: hidden
	text-align: center
	ul
		display: inline-block
.pager__list
	font-size: 0
.pager__item
	display: inline-block
	vertical-align: middle
	a
		display: inline-block
		padding: 3px
		margin: 0 8px  
		font-size: 16px
		color: $cld
		+transition(color 200ms linear) 
		&:hover
			color: $bl
		&.is-active
			color: $bl

//subscribe
.subscribe
	margin-bottom: 35px
	background: #f8f8f8
	padding: 25px
	.title
		margin-bottom: 13px
		text-align: center
	
// btn
.btn
	display: block
	width: 100%
	height: 39px
	line-height: 39px
	background: $cld 
	text-align: center
	font-size: 12px
	color: #fff
	text-transform: uppercase 



































































































































































