// inner page
.breadcrumbs
	padding: 23px 0 10px
	font-size: 0
	li
		display: inline
		font-size: 10px
		text-transform: uppercase
	a, span
		color: $bl
	span
		padding: 0 3px 

.big-title
	margin-bottom: 40px
	padding: 35px 0 25px
	background: $bl
	font-size: 36px
	text-transform: uppercase
	text-align: center 
	color: #FFF 

























































































































































































































































































































































