// inner page
.breadcrumbs
	padding: 23px 0 10px
	font-size: 0
	li
		display: inline
		font-size: 10px
		text-transform: uppercase
	a, span
		color: $bl
	span
		padding: 0 3px 

.big-title
	margin-bottom: 40px
	padding: 35px 0 25px
	background: $bl
	font-size: 36px
	text-transform: uppercase
	text-align: center 
	color: #FFF 
	p
		font-size: 18px
// rss
.rss
	width: 800px
	margin: 0 auto 
.rss__topper
	margin-bottom: 40px
	text-align: center
	line-height: 1.6
	+fr
	font-size: 14px
	color: $cld 	
.rss__form
	width: 359px
	margin: 0 auto 84px
	
// contacts
.contacts
	position: relative
	margin-top: -40px
	height: 560px
.contacts__popup
	position: absolute
	top: 38px
	left: 50%
	margin-left: -479px
	width: 320px
	padding: 30px
	background: #f9f9f9
	z-index: 2
.contacts__row 
	margin-top: 20px 
	font-size: 12px
	color: $cld
	text-transform: uppercase
	line-height: 1.5
	&:first-child
		margin-top: 0
	span
		color: #33c0e3
	a
		font-size: 12px
		color: $cld
		text-transform: uppercase
		text-decoration: none	 	
.map
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 1
	
// artlicle
.article
	position: relative
	padding-top: 35px
	margin-bottom: 75px
	&:before
		content: ""
		position: absolute
		top: 35px
		left: -63px
		width: 136px
		height: 2px
		background: #00b0dc
		+transform(rotate(-45deg))
	&.article_news
		padding-top: 0
		&:before
			display: none				
	p
		font-size: 14px
		+fr
		color: #666
		margin-bottom: 25px
	q
		position: relative
		display: block
		margin-bottom: 20px
		padding-left: 87px
		font-size: 18px
		text-transform: uppercase
		color: $cld
		&:before
			content: ""
			position: absolute
			top: 0
			left: 40px
			+s(quotes)	
	ul
		padding: 0 14px
		li
			position: relative
			padding-left: 28px
			margin-bottom: 25px
			font-size: 14px
			+fr
			color: #666
			&:before
				content: ""
				position: absolute
				top: 10px
				left: 0
				width: 5px
				height: 5px
				border-radius: 50%
				background: #33c0e3
	.btn-border
		margin-right: 30px			  	 	
.article__title
	margin-bottom: 25px
	padding-left: 40px 				
	font-size: 18px
	color: $cld
	text-transform: uppercase
.article__time
	position: relative 
	padding-left: 118px
.time
	position: absolute
	top: -45px
	left: 0
	width: 100px
	height: 100px
	line-height: 100px
	border-radius: 50%
	background: $bl
	text-align: center
	font-size: 24px
	color: #fff
	&.time_small
		top: auto
		bottom: 0px
		left: 5px
		width: 70px
		height: 70px
		line-height: 70px
		font-size: 16px  			
.article__img
	font-size: 0
	margin-bottom: 15px 
	img
		width: 100%	
.article__topper
	position: relative 
	padding-bottom: 20px
	border-bottom: 2px solid #eaebeb 
	margin-bottom: 30px
	.date
		margin-bottom: 20px
.title
	margin-bottom: 5px
	font-size: 16px
	color: $cld
	text-transform: uppercase
.date
	font-size: 10px
	color: $cld
	+fr  	
.article__author
	margin-bottom: 20px
	+fr
	font-size: 10px
	color: #666			 
.menu
	background: #f7f7f7
	padding: 30px
.menu__item
	margin-top: 20px
	&:first-child
		margin-top: 0
	a
		font-size: 12px
		color: $cld
		text-transform: uppercase
		+transition(color 200ms)
		&:hover
			color: #33c0e3
.popular
	.title
		margin-bottom: 15px			
.popular__item
	margin-bottom: 40px			
.popular__link
	display: inline-block
	margin-bottom: 10px
	font-size: 12px
	color: $cld
	text-transform: uppercase
	+transition(color 200ms)
	&:hover
		color: $bl
.video
	height: 192px
	margin-bottom: 15px
.m-news__info
	+fr
	font-size: 14px
	color: $cld
	a
		color: #33c0e3
.m-news_inner
	padding-top: 0 
	.text
		clear: both
		padding-top: 30px
		line-height: 1.6
	.m-news__item
		width: auto 
		margin-top: 40px
		&:first-child
			margin-top: 0
			width: auto
	.m-news__data
		width: 340px
//top
.top
	margin-bottom: 33px
	padding-bottom: 33px 
	border-bottom: 1px solid #eaebeb
.top__title
	margin-bottom: 5px
	font-size: 16px
	color: $cld
	text-transform: uppercase	 		
.top__list
	font-size: 0
.top__item
	display: inline-block
	vertical-align: top
	width: 300px
	margin-left: 30px
	font-size: 14px
	&:first-child
		margin-left: 0
.top__img
	display: block
	height: 140px
	overflow: hidden
	font-size: 0
	margin-bottom: 15px
	img
		width: 100%
		height: auto
		min-height: 100%
.top__link
	font-size: 12px
	color: $cld
	text-transform: uppercase
	+transition(color 200ms)
	&:hover
		color: $bl

//expertise
.expertise__item
	margin-bottom: 40px
.expertise__title
	margin-bottom: 20px
	text-transform: uppercase
	font-size: 16px
	color: $bl			
.expertise__topper
	+clr
.expertise__img
	float: left
	display: block
	width: 80px
	margin-right: 24px
	margin-bottom: 20px
	font-size: 0
	img
		width: 100% 
.expertise__date
	margin-bottom: 15px
	+fr
	font-size: 14px
	color: $cld			
.expertise__link
	font-size: 16px
	color: $cld
	+transition(color 200ms)
	text-transform: uppercase
	&:hover
		color: $bl					
.article_topper
	padding-left: 40px
	
// event-list
.event-list
	margin-bottom: 35px
	border-bottom: 2px solid #eaebeb  		 
.event-list__title
	margin-bottom: 20px 
	font-size: 16px
	text-transform: uppercase
	color: $bl
ul.event-list__list
	padding: 0
	li.event-list__item
		padding-left: 0
		+clr
		&:before
			display: none
.event-list__left
	position: relative
	float: left
	width: 80px
	margin-right: 20px
.event-list__img
	font-size: 0
	margin-bottom: 50px 
	img
		width: 100%
.event-list__author
	margin-bottom: 5px
	+fr
	font-size: 10px
	color: #666	 		
.event-list__link
	display: inline-block
	margin-bottom: 30px
	font-size: 12px
	color: $cld
	+f
	text-transform: uppercase
	+transition(color 200ms)
	&:hover
		color: $bl
.lectors
	margin-bottom: 80px
.lectors__title
	font-size: 16px
	color: $bl
	text-transform: uppercase
	margin-bottom: 25px
ul.lectors__list
	margin-left: -37px
	padding: 0	 	
	li.lectors__item
		width: 280px
		display: inline-block
		vertical-align: top
		margin-bottom: 30px
		padding-left: 0
		margin-left: 37px
		+clr
		img
			float: left
			width: 80px
			margin-right: 25px
		p
			+f
			color: #666
			line-height: 1.2	
		&:before
			display: none	 
.comments 
	padding-top: 45px
	border-top: 2px solid #eaebeb 
.comments__title
	font-size: 16px
	color: $bl
	text-transform: uppercase
	margin-bottom: 25px	
.comments__item
	margin-bottom: 35px
.comments__text
	+fr
	font-size: 10px
	color: $cld
	margin-bottom: 15px	
.comments__author
	+clr
.comments__img
	float: left
	width: 48px
	margin-right: 18px 
	font-size: 0
	img
		width: 100% 
.comments__info
	width: 254px 
.comments__name
	font-size: 12px
	text-transform: uppercase
	color: $cld 
.comments__about
	+fr
	font-size: 10px
	color: #666
	
.calendar
	padding: 17px 8px 8px
	background: #f7f7f7
	margin-bottom: 37px  	










































































































































































































































































































































