// inner page
.breadcrumbs
	padding: 23px 0 10px
	font-size: 0
	li
		display: inline
		font-size: 10px
		text-transform: uppercase
	a, span
		color: $bl
	span
		padding: 0 3px 

.big-title
	margin-bottom: 40px
	padding: 35px 0 25px
	background: $bl
	font-size: 36px
	text-transform: uppercase
	text-align: center 
	color: #FFF
	p
		font-size: 18px
// rss
.rss
	width: 800px
	margin: 0 auto 
.rss__topper
	margin-bottom: 40px
	text-align: center
	line-height: 1.6
	+fr
	font-size: 14px
	color: $cld 	
.rss__form
	width: 359px
	margin: 0 auto 84px
	
// contacts
.contacts
	position: relative
	margin-top: -40px
	height: 560px
.contacts__popup
	position: absolute
	top: 38px
	left: 50%
	margin-left: -479px
	width: 320px
	padding: 30px
	background: #f9f9f9
	z-index: 2
.contacts__row 
	margin-top: 20px 
	font-size: 12px
	color: $cld
	text-transform: uppercase
	line-height: 1.5
	&:first-child
		margin-top: 0
	span
		color: #33c0e3
	a
		font-size: 12px
		color: $cld
		text-transform: uppercase
		text-decoration: none
		+tr(color 200ms)
		&:hover
			color: $bl	 	
.map
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 1
	
// artlicle
.article
	position: relative
	padding-top: 35px
	margin-bottom: 75px
	a
		color: #00B0DC 
	&:before
		content: ""
		position: absolute
		top: 35px
		left: -63px
		width: 136px
		height: 2px
		background: #00b0dc
		+transform(rotate(-45deg))
	&.article_news
		padding-top: 0
		&:before
			display: none				
	p
		font-size: 14px
		+fr
		color: #666
		margin-bottom: 25px
	q
		position: relative
		display: block
		margin-bottom: 20px
		padding-left: 87px
		font-size: 18px
		text-transform: uppercase
		color: $cld
		&:before
			content: ""
			position: absolute
			top: 0
			left: 40px
			+s(quotes)	
	ul
		padding: 0 14px
		li
			position: relative
			padding-left: 28px
			margin-bottom: 25px
			font-size: 14px
			+fr
			color: #666
			&:before
				content: ""
				position: absolute
				top: 10px
				left: 0
				width: 5px
				height: 5px
				border-radius: 50%
				background: #33c0e3
	.btn-border
		margin-right: 30px			  	 	
.article__title
	margin-bottom: 25px
	padding-left: 40px 				
	font-size: 18px
	color: $cld
	text-transform: uppercase
.article__time
	position: relative 
	padding-left: 118px
.time
	position: absolute
	top: -45px
	left: 0
	width: 100px
	height: 100px
	line-height: 100px
	border-radius: 50%
	background: $bl
	text-align: center
	font-size: 24px
	color: #fff
	&.time_small
		top: auto
		bottom: 0px
		left: 5px
		width: 70px
		height: 70px
		line-height: 70px
		font-size: 16px  			
.article__img
	font-size: 0
	margin-bottom: 15px 
	img
		width: 100%	
.article__topper
	position: relative 
	padding-bottom: 20px
	border-bottom: 2px solid #eaebeb 
	margin-bottom: 30px
	.date
		margin-bottom: 20px
.expert
	@extend .article__topper
	overflow: hidden
	.expert__content
		overflow: hidden
	.expert__img
		float: left
		margin-right: 25px 
	.expert__about
		margin-bottom: 18px 
		font-size: 11px 
		+fr
		dt
			color: #000
		dd
			color: #666666 
	h3
		+f
		text-transform: uppercase
		color: #19233E
		font-weight: normal
		line-height: 1.2
		margin-bottom: 6px    
		a
			text-decoration: none
			color: #19233E 
.title
	margin-bottom: 5px
	font-size: 16px
	color: $cld
	text-transform: uppercase
.date
	font-size: 10px
	color: $cld
	+fr  	
.article__author
	margin-bottom: 20px
	+fr
	font-size: 10px
	color: #666			 
.menu
	background: #f7f7f7
	padding: 30px
	margin-bottom: 45px
.menu__item
	margin-top: 20px
	&:first-child
		margin-top: 0
	a
		font-size: 12px
		color: $cld
		text-transform: uppercase
		+transition(color 200ms)
		&:hover
			color: #33c0e3
.categs
	padding: 20px 
	border: 2px solid #1DB0DA 
	margin-bottom: 45px 
	h3
		font-size: 13px 
		text-transform: uppercase
		color: #19233E
		margin-bottom: 14px  
	ul
		list-style: none
		font-size: 12px 
		li
			margin-bottom: 10px 
		a
			text-decoration: none
			color: #19233E
			text-transform: uppercase 
	.is-active
		color: #3FC0E1 
.popular
	.title
		margin-bottom: 15px	
	.btn-border
		margin-top: 14px 	
.popular_wide
	.popular__item
		overflow: hidden
	.video
		float: left
		width: 300px 	
		margin-right: 20px 
	.popular__link
		display: block
		
.popular__item
	margin-bottom: 40px			
.popular__link
	display: inline-block
	margin-bottom: 10px
	font-size: 12px
	color: $cld
	text-transform: uppercase
	+transition(color 200ms)
	&:hover
		color: $bl
.video
	height: 192px
	margin-bottom: 15px
.m-news__info
	+fr
	font-size: 14px
	color: $cld
	a
		color: #33c0e3
.m-news_inner
	padding-top: 0 
	.text
		clear: both
		padding-top: 30px
		line-height: 1.6
	.m-news__item
		width: auto 
		margin-top: 40px
		&:first-child
			margin-top: 0
			width: auto
	.m-news__data
		width: 340px
//top
.top
	margin-bottom: 33px
	padding-bottom: 33px 
	border-bottom: 1px solid #eaebeb
.top__title
	margin-bottom: 5px
	font-size: 16px
	color: $cld
	text-transform: uppercase	 		
.top__list
	font-size: 0
.top__item
	display: inline-block
	vertical-align: top
	width: 300px
	margin-left: 30px
	font-size: 14px
	&:first-child
		margin-left: 0
.top__img
	display: block
	height: 140px
	overflow: hidden
	font-size: 0
	margin-bottom: 15px
	img
		width: 100%
		height: auto
		min-height: 100%
.top__link
	font-size: 12px
	color: $cld
	text-transform: uppercase
	+transition(color 200ms)
	&:hover
		color: $bl

//expertise
.expertise__item
	margin-bottom: 40px
.expertise__title
	margin-bottom: 20px
	text-transform: uppercase
	font-size: 16px
	color: $bl			
.expertise__topper
	+clr
.expertise__img
	float: left
	display: block
	width: 80px
	margin-right: 24px
	margin-bottom: 20px
	font-size: 0
	img
		width: 100% 
.expertise__date
	margin-bottom: 15px
	+fr
	font-size: 14px
	color: $cld			
.expertise__link
	font-size: 16px
	color: $cld
	+transition(color 200ms)
	text-transform: uppercase
	&:hover
		color: $bl					
.article_topper
	padding-left: 40px
	
// event-list
.event-list
	margin-bottom: 35px
	border-bottom: 2px solid #eaebeb  
	&.event-list_noborder
		border-bottom: none
		margin-bottom: 0  		 
.event-list__title
	margin-bottom: 20px 
	font-size: 16px
	text-transform: uppercase
	color: $bl
ul.event-list__list
	padding: 0
	li.event-list__item
		padding-left: 0
		+clr
		&:before
			display: none
.event-list__left
	position: relative
	float: left
	width: 80px
	margin-right: 20px
.event-list__img
	font-size: 0
	margin-bottom: 50px 
	img
		width: 100%
.event-list__author
	margin-bottom: 5px
	+fr
	font-size: 10px
	color: #666	 		
.event-list__link
	display: inline-block
	margin-bottom: 30px
	font-size: 12px
	color: $cld
	+f
	text-transform: uppercase
	+transition(color 200ms)
	&:hover
		color: $bl
.lectors
	margin-bottom: 80px
.lectors__title
	font-size: 16px
	color: $bl
	text-transform: uppercase
	margin-bottom: 25px
ul.lectors__list
	margin-left: -37px
	padding: 0	 	
	li.lectors__item
		width: 280px
		display: inline-block
		vertical-align: top
		margin-bottom: 30px
		padding-left: 0
		margin-left: 37px
		+clr
		img
			float: left
			width: 80px
			margin-right: 25px
		p
			+f
			color: #666
			line-height: 1.2	
		&:before
			display: none	 
.comments 
	padding-top: 45px
	border-top: 2px solid #eaebeb 
.comments__title
	font-size: 16px
	color: $bl
	text-transform: uppercase
	margin-bottom: 25px	
.comments__item
	margin-bottom: 35px
.comments__text
	+fr
	font-size: 10px
	color: $cld
	margin-bottom: 15px	
.comments__author
	+clr
.comments__img
	float: left
	width: 48px
	margin-right: 18px 
	font-size: 0
	img
		width: 100% 
.comments__info
	width: 254px 
.comments__name
	font-size: 12px
	text-transform: uppercase
	color: $cld 
.comments__about
	+fr
	font-size: 10px
	color: #666
	
.calendar
	padding: 17px 8px 8px
	background: #f7f7f7
	margin-bottom: 37px
.request_cols
	margin-bottom: 45px
	.request__info
		+clr
		padding: 0 65px
		.btn-border
			margin-right: 10px 
.request__left
	float: left
	width: 380px
	font-size: 14px
	text-align: left
	p
		+fr
		text-transform: none
		color: $cld
		font-size: 14px
.request__right		
	float: right
	width: 380px
	font-size: 14px
	text-align: left
	p
		+fr
		text-transform: none
		font-size: 14px
.request__content
	min-height: 75px		
.phone		
	font-size: 18px
	text-transform: uppercase
.title2
	margin-bottom: 15px
	text-align: center
	font-size: 30px
	text-transform: uppercase
	color: $cld
.consulting
	margin-bottom: 25px
	text-align: center
.consulting__text
	margin-bottom: 25px
	+fr
	color: $cld
.consulting__btn
	width: 359px
	margin: 0 auto 60px
.consulting__faq
	+clr	  
.consulting__col
	float: left
	width: 440px
	&.right
		float: right
.consulting__title
	font-size: 16px
	text-align: left
	color: $bl
	margin-bottom: 25px
	text-transform: uppercase
=list-numb
	counter-reset: li
	li
		position: relative
		padding-left: 30px
		&:before
			content: counter(li)
			counter-increment: li	
.consulting__list
	text-align: left
	li
		margin-bottom: 25px
		font-size: 12px
		color: $cld
		text-transform: uppercase  
		&:before
			position: absolute
			top: 0px
			left: 0px
			font-size: 12px
			color: $bl
	&.list-numb
		+list-numb

//icf inner
.icf_inner
	margin-bottom: 60px
.diff
	text-align: center					
.diff__title
	margin-bottom: 15px
	color: #fff
	font-size: 30px
	text-transform: uppercase
	span
		font-size: 16px
.diff__text
	+fr
	color: #fff
	font-size: 14px
	line-height: 1.6
	
.or
	display: inline-block
	vertical-align: middle
	margin-right: 75px
	font-size: 18px
	text-transform: uppercase
	color: $bl 
	
//tabs
.tab-wrap
	margin-bottom: 35px
.tab
	+justify
	margin-bottom: 15px
.tab__item
	+justify-child
	a, span
		text-align: left
		font-size: 16px
		text-transform: uppercase
		color: $bl
		+transition(color 200ms)
		&:hover
			color: $cld
		&.is-active
			color: $cld
	span
		cursor: pointer								
.tab-cont
	+justify
	padding: 25px 0 35px
	border-top: 2px solid #eaebeb
	border-bottom: 2px solid #eaebeb 
.jurisdictions__list
	+justify-child
	width: 280px
.region
	margin-bottom: 15px
	font-size: 12px
	color: $cld
	text-transform: uppercase
.region__title
	color: $bl
	font-size: 12px
	margin-bottom: 20px
.region__list
	li
		margin-bottom: 10px
		a
			color: $cld
			text-transform: uppercase
			text-decoration: none
			+tr(color 200ms)
			&:hover
				color: $bl
.imap
	padding-bottom: 40px
	border-bottom: 2px solid #eaebeb
	margin-bottom: 35px
.imap__title
	font-size: 16px
	color: $cld
	text-transform: uppercase
	margin-bottom: 13px
.imap__controls
	+clr
	margin-bottom: 20px	
.imap__btns
	float: left
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		margin-right: 18px
.imap__back
	position: relative
	float: right
	padding-right: 45px
	height: 31px
	font-size: 12px
	text-transform: uppercase
	&:before
		content: ""
		position: absolute
		top: 0
		right: 0
		width: 27px
		height: 27px
		border: 2px solid $cld
		background: #fff
		+transition(background 200ms) 
	&:after
		content: ""
		position: absolute
		top: 9px
		right: 12px
		+s(arr-left)
	&:hover
		&:before
			background: $cld
		&:after
			+s(arr-left-h)	 		
.imap-btn
	display: block
	+box
	width: 210px
	height: 34px
	border: 2px solid #eaebeb
	text-align: center
	+transition(all 200ms) 
	span
		position: relative
		display: inline-block
		font-size: 12px
		color: #ccc
		text-transform: uppercase
		+transition(all 200ms) 
		&:before
			content: ""
			position: absolute
			top: 0
			left: -25px
			width: 15px
			height: 15px
	&.imap-btn_blue
		span
			&:before
				background: $bl
		&.is-active
			border: 2px solid $bl
			span
				color: $bl  		
	&.imap-btn_dark
		span
			&:before
				background: $cld
		&.is-active
			border: 2px solid $cld
			span
				color: $cld		
	&.imap-btn_gray
		span
			&:before
				background: #999
		&.is-active
			border: 2px solid #999
			span
				color: #999		 		 
.imap__container
	position: relative
	height: 456px
	overflow: hidden
.imap__global
	position: relative	
	height: 456px
	background: url(../img/imap.png) 0 0 no-repeat
.imap__europe
	position: relative
	height: 456px
	background: url(../img/europe.png) 0 0 no-repeat 	 
.pin
	position: absolute
	cursor: pointer
	&:hover
		.pin__tooltip
			visibility: visible
			top: -30px
			+opacity(1)
.pin__tooltip
	visibility: hidden
	position: absolute
	top: -30px
	left: 50%
	border: 2px solid $cld
	padding: 2px 10px
	color: $cld
	text-transform: uppercase
	font-size: 10px
	+text-overflow
	background: #fff 
	top: -35px
	+opacity(0)
	+transition(all 200ms) 	
.pin1
	+s(pin1)
.pin1-link
	+s(pin1-link)
.pin2
	+s(pin2)
.pin2-link
	+s(pin2-link)
.pin3
	+s(pin3)
.pin3-link
	+s(pin3-link)			

// pins coors	
.caribi
	top: 156px
	left: 151px
.usa
	top: 100px
	left: 120px
.canada
	top: 70px
	left: 80px	
.livia
	top: 150px
	left: 430px
.china
	top: 140px
	right: 220px
.europa
	top: 60px
	left: 425px
.spain
	top: 105px
	left: 380px
.france
	top: 200px
	left: 183px							 	
.england
	top: 170px
	left: 100px
.germany
	top: 200px
	left: 230px
.poland
	top: 208px
	left: 283px
.malta
	top: 292px
	left: 235px
	
// last-news
.m-news_sidebar
	border-bottom: 2px solid #e7e6e6
	margin-bottom: 35px
	.m-news__item
		width: auto
		margin-right: 0
		margin-bottom: 35px
	.m-news__date
		width: 75px
		&:after
			top: 31px
			width: 89px 
		li
			font-size: 30px	 
	.m-news__data
		width: 184px
	.m-news__title
		font-size: 12px
	.m-news__all
		float: none
		
//expertise inner
.expertise_sidebar
	padding-bottom: 35px
	border-bottom: 2px solid #e7e6e6
	margin-bottom: 35px
	.date
		margin-bottom: 24px
	.expertise__link
		font-size: 12px
		
// event-list
.event-list_sidebar
	.event-list__item
		margin-bottom: 45px
	.event-list__right
		float: right
		width: 220px
	.event-list__author
		margin-bottom: 20px
		
// services
.services__item
	padding: 35px 0
	&.dark
		background: url(../img/ptrn.jpg)
	.l-center
		+clr	 		
.services__bottom
	padding: 35px 0 65px
	text-align: center
.services__divide
	display: inline-block
	width: 100px
	height: 2px
	background: $bl
	margin-bottom: 25px
.services__bottom-text
	width: 80%
	margin: 0 auto 
	font-size: 12px
	color: $cld
	text-transform: uppercase 	 				
.services__left
	float: left
	width: 300px
.services__right
	float: right
	width: 640px 
.services__list
	li
		margin-bottom: 15px
		a
			font-size: 12px
			color: $bl
			text-transform: uppercase
			+transition(color 200ms)
			&:hover
				color: $cld
.services__number
	position: relative
	margin-bottom: 18px
	&:before
		content: ""
		position: absolute
		top: 50px
		left: -10px
		width: 136px
		height: 2px
		background: $bl
		+rotate(-45) 
		+tr(background .2s linear)
	li
		font-size: 48px
		line-height: 1
		text-transform: uppercase
		span
			display: inline-block
			padding-left: 68px
			font-size: 18px
.services__text
	padding-left: 68px
	font-size: 14px
	color: #666
	+fr
	line-height: 1.6			
.services__map
	height: 177px
	background: url(../img/world.png) 0 0 no-repeat
	vertical-align: middle
	text-align: center
	&:before
		content: ""
		display: inline-block
		width: 0
		height: 100%
		vertical-align: middle	 	   			
.services__btn
	display: inline-block
	vertical-align: middle
	padding: 9px 20px 7px
	font-size: 12px
	color: #fff
	text-transform: uppercase
	+box
	background: $bl
	+transition(background 200ms)
	&:hover
		background: $cld
		
//error
.error-wrap
	position: relative 
.error
	text-align: center
	padding-top: 100px 		 			 
.error__topper
	height: 120px
	padding-top: 80px
	.logo
		display: inline-block
		float: none
.error__content
	height: 165px
	padding-top: 35px
	background: $bl
	font-size: 18px
	color: #fff
	text-transform: uppercase
	a
		color: #fff
		line-height: 1.2 
		text-decoration: underline
		&:hover
			text-decoration: none
.error__alert
	position: relative
	margin-bottom: 15px
	font-size: 72px
	text-transform: uppercase
	color: #fff
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 50%
		width: 66px
		margin-left: -33px
		height: 2px
		background: #fff 
		
//popups
.popup-wrap
	position: fixed
	text-align: center
	width: 100%
	height: 100%
	left: 0
	top: 0
	background: rgba(#000, .5)  
	z-index: 999
	+gpu
	&:before
		content: ""
		display: inline-block
		height: 100%
		vertical-align: middle		  		   
.popup
	position: relative
	display: inline-block
	vertical-align: middle
	width: 436px
	padding: 40px
	+box
	+transition(all 200ms ease-in-out)
	+opacity(0)
	+transform(scale(0.8))
	background: #fff
	&.is-open
		+opacity(1)
		+transform(scale(1))
	.checkbox
		text-align: left	
	&.popup_pay
		width: 836px - 90px
		padding: 30px 45px 
		text-align: left
		.button
			display: inline-block
			width: 360px
			text-align: center 
.popup__title
	margin-bottom: 15px
	font-size: 16px
	color: $cld
	text-transform: uppercase	
	.popup_pay &
		text-align: left
		font-size: 24px 
		color: #1DB1DA 

.field
	+clr
	margin-bottom: 16px 
	font-size: 0 
	.input
		border-color: #19233E
		width: 494px 
		font-size: 12px 
		margin-bottom: 0 
	.input_half
		width: 179px
	label,input
		display: inline-block
		vertical-align: top
	.field__label,.field__anotherlabel
		display: inline-block
		width: 162px 
		+f
		text-transform: uppercase
		color: #19233E
		font-size: 12px 
		height: 35px
		line-height: 35px 
	.field__anotherlabel
		width: 134px - 24px
		padding-left: 24px 











































































































































































































































































































